--
-- PostgreSQL database dump
--

\restrict GI58rpwzmCGfQAJHubXT8P2Oc16NTLVi2fnIODE4gJSAqWuCaOFmSa1dOOB2bad

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: club_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.club_history (
    id bigint NOT NULL,
    action character varying(255) NOT NULL,
    club_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    new_value character varying(255),
    old_value character varying(255),
    performed_by bigint,
    type character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT club_history_type_check CHECK (((type)::text = ANY ((ARRAY['MEMBER_JOINED'::character varying, 'MEMBER_LEFT'::character varying, 'MEMBER_REMOVED'::character varying, 'RANK_CHANGED'::character varying, 'CLUB_CREATED'::character varying, 'CLUB_UPDATED'::character varying, 'CLUB_STATUS_CHANGED'::character varying, 'EVENT_CREATED'::character varying, 'EVENT_PARTICIPATED'::character varying, 'ACHIEVEMENT_EARNED'::character varying, 'CONTRIBUTION'::character varying, 'EXPENSE_ADDED'::character varying, 'EXPENSE_UPDATED'::character varying, 'EXPENSE_DELETED'::character varying, 'PAYMENT_CONFIRMED'::character varying, 'TASK_CREATED'::character varying, 'TASK_UPDATED'::character varying, 'TASK_DELETED'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.club_history OWNER TO postgres;

--
-- Name: club_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.club_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.club_history_id_seq OWNER TO postgres;

--
-- Name: club_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.club_history_id_seq OWNED BY public.club_history.id;


--
-- Name: club_update_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.club_update_requests (
    id integer NOT NULL,
    applied_at timestamp(6) without time zone,
    category character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    image text,
    max_members integer,
    name character varying(255),
    objective text,
    requested_by bigint NOT NULL,
    secretary_approved boolean,
    status character varying(255) NOT NULL,
    vice_president_approved boolean,
    club_id integer NOT NULL,
    CONSTRAINT club_update_requests_category_check CHECK (((category)::text = ANY ((ARRAY['CONVERSATION'::character varying, 'BOOK'::character varying, 'DRAMA'::character varying, 'WRITING'::character varying, 'GRAMMAR'::character varying, 'VOCABULARY'::character varying, 'READING'::character varying, 'LISTENING'::character varying, 'SPEAKING'::character varying, 'PRONUNCIATION'::character varying, 'BUSINESS'::character varying, 'ACADEMIC'::character varying])::text[]))),
    CONSTRAINT club_update_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.club_update_requests OWNER TO postgres;

--
-- Name: club_update_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.club_update_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.club_update_requests_id_seq OWNER TO postgres;

--
-- Name: club_update_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.club_update_requests_id_seq OWNED BY public.club_update_requests.id;


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clubs (
    id integer NOT NULL,
    announcement_topic_id integer,
    category character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by integer,
    description text,
    image text,
    max_members integer NOT NULL,
    name character varying(255) NOT NULL,
    objective text,
    registration_fee double precision,
    review_comment text,
    reviewed_by integer,
    status character varying(255) NOT NULL,
    suspended_at timestamp(6) without time zone,
    suspended_by integer,
    suspension_reason text,
    updated_at timestamp(6) without time zone NOT NULL,
    CONSTRAINT clubs_category_check CHECK (((category)::text = ANY ((ARRAY['CONVERSATION'::character varying, 'BOOK'::character varying, 'DRAMA'::character varying, 'WRITING'::character varying, 'GRAMMAR'::character varying, 'VOCABULARY'::character varying, 'READING'::character varying, 'LISTENING'::character varying, 'SPEAKING'::character varying, 'PRONUNCIATION'::character varying, 'BUSINESS'::character varying, 'ACADEMIC'::character varying])::text[]))),
    CONSTRAINT clubs_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'SUSPENDED'::character varying])::text[])))
);


ALTER TABLE public.clubs OWNER TO postgres;

--
-- Name: clubs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clubs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clubs_id_seq OWNER TO postgres;

--
-- Name: clubs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clubs_id_seq OWNED BY public.clubs.id;


--
-- Name: expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses (
    id integer NOT NULL,
    amount double precision NOT NULL,
    club_id integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint NOT NULL,
    designation character varying(200) NOT NULL,
    expense_date timestamp(6) without time zone NOT NULL,
    notes character varying(500),
    source character varying(50),
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.expenses OWNER TO postgres;

--
-- Name: expenses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.expenses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.expenses_id_seq OWNER TO postgres;

--
-- Name: expenses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.expenses_id_seq OWNED BY public.expenses.id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.members (
    id integer NOT NULL,
    joined_at timestamp(6) without time zone NOT NULL,
    rank character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    user_id bigint NOT NULL,
    club_id integer NOT NULL,
    CONSTRAINT members_rank_check CHECK (((rank)::text = ANY ((ARRAY['PRESIDENT'::character varying, 'VICE_PRESIDENT'::character varying, 'SECRETARY'::character varying, 'TREASURER'::character varying, 'COMMUNICATION_MANAGER'::character varying, 'EVENT_MANAGER'::character varying, 'PARTNERSHIP_MANAGER'::character varying, 'MEMBER'::character varying])::text[])))
);


ALTER TABLE public.members OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.members_id_seq OWNER TO postgres;

--
-- Name: members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.members_id_seq OWNED BY public.members.id;


--
-- Name: membership_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.membership_requests (
    id integer NOT NULL,
    message character varying(500),
    motivation_letter character varying(2000),
    payment_confirmed_at timestamp(6) without time zone,
    payment_deadline timestamp(6) without time zone,
    payment_method character varying(50),
    payment_token character varying(500),
    requested_at timestamp(6) without time zone NOT NULL,
    review_comment character varying(500),
    reviewed_at timestamp(6) without time zone,
    reviewed_by bigint,
    status character varying(255) NOT NULL,
    student_skills character varying(1000),
    user_id bigint NOT NULL,
    club_id integer NOT NULL,
    CONSTRAINT membership_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PAYMENT_PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'EXPIRED'::character varying])::text[])))
);


ALTER TABLE public.membership_requests OWNER TO postgres;

--
-- Name: membership_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.membership_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.membership_requests_id_seq OWNER TO postgres;

--
-- Name: membership_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.membership_requests_id_seq OWNED BY public.membership_requests.id;


--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    id integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    name character varying(255) NOT NULL,
    club_id integer NOT NULL
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_id_seq OWNER TO postgres;

--
-- Name: skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.skills_id_seq OWNED BY public.skills.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by integer,
    status character varying(255) NOT NULL,
    text character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    club_id integer NOT NULL,
    CONSTRAINT tasks_status_check CHECK (((status)::text = ANY ((ARRAY['TODO'::character varying, 'IN_PROGRESS'::character varying, 'DONE'::character varying])::text[])))
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO postgres;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: club_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.club_history ALTER COLUMN id SET DEFAULT nextval('public.club_history_id_seq'::regclass);


--
-- Name: club_update_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.club_update_requests ALTER COLUMN id SET DEFAULT nextval('public.club_update_requests_id_seq'::regclass);


--
-- Name: clubs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clubs ALTER COLUMN id SET DEFAULT nextval('public.clubs_id_seq'::regclass);


--
-- Name: expenses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses ALTER COLUMN id SET DEFAULT nextval('public.expenses_id_seq'::regclass);


--
-- Name: members id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members ALTER COLUMN id SET DEFAULT nextval('public.members_id_seq'::regclass);


--
-- Name: membership_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_requests ALTER COLUMN id SET DEFAULT nextval('public.membership_requests_id_seq'::regclass);


--
-- Name: skills id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills ALTER COLUMN id SET DEFAULT nextval('public.skills_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Data for Name: club_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: club_update_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.club_update_requests (id, applied_at, category, created_at, description, image, max_members, name, objective, requested_by, secretary_approved, status, vice_president_approved, club_id) FROM stdin;
\.


--
-- Data for Name: clubs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.members (id, joined_at, rank, updated_at, user_id, club_id) FROM stdin;
2	2026-04-14 18:20:17.790708	PRESIDENT	2026-04-14 18:20:17.790708	1	2
4	2026-04-14 18:24:34.975053	MEMBER	2026-04-14 18:24:34.975053	7	2
5	2026-04-15 17:09:48.50041	PRESIDENT	2026-04-15 17:09:48.50041	7	3
7	2026-04-15 18:45:26.719235	MEMBER	2026-04-15 18:45:26.719235	1	3
\.


--
-- Data for Name: membership_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.membership_requests (id, message, motivation_letter, payment_confirmed_at, payment_deadline, payment_method, payment_token, requested_at, review_comment, reviewed_at, reviewed_by, status, student_skills, user_id, club_id) FROM stdin;
2	qsdqsdqsd	qsdqsdqsd	2026-04-14 18:30:38.609597	2026-04-17 18:24:34.972055	KONNECT	test_payment_token_123	2026-04-14 18:24:26.304827	\N	2026-04-14 18:24:34.972055	1	APPROVED	qsdsqd	7	2
5	sdf	Je susi entrain de test 	\N	2026-04-18 18:45:26.716202	\N	\N	2026-04-15 18:45:23.511063	\N	2026-04-15 18:45:26.716202	7	APPROVED	sdf	1	3
\.


--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.skills (id, created_at, description, name, club_id) FROM stdin;
2	2026-04-14 18:20:17.780705	\N	Kids	2
3	2026-04-15 17:09:48.364412	\N	kids	3
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tasks (id, created_at, created_by, status, text, updated_at, club_id) FROM stdin;
\.


--
-- Name: club_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.club_history_id_seq', 8, true);


--
-- Name: club_update_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.club_update_requests_id_seq', 1, false);


--
-- Name: clubs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clubs_id_seq', 19, true);


--
-- Name: expenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_id_seq', 12, true);


--
-- Name: members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.members_id_seq', 7, true);


--
-- Name: membership_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.membership_requests_id_seq', 5, true);


--
-- Name: skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.skills_id_seq', 3, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tasks_id_seq', 1, false);


--
-- Name: club_history club_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.club_history
    ADD CONSTRAINT club_history_pkey PRIMARY KEY (id);


--
-- Name: club_update_requests club_update_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.club_update_requests
    ADD CONSTRAINT club_update_requests_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: expenses expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses
    ADD CONSTRAINT expenses_pkey PRIMARY KEY (id);


--
-- Name: members idx_member_club_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT idx_member_club_user UNIQUE (club_id, user_id);


--
-- Name: membership_requests idx_membership_request_club_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_requests
    ADD CONSTRAINT idx_membership_request_club_user UNIQUE (club_id, user_id);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (id);


--
-- Name: membership_requests membership_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_requests
    ADD CONSTRAINT membership_requests_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: idx_club_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_club_category ON public.clubs USING btree (category);


--
-- Name: idx_club_created_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_club_created_by ON public.clubs USING btree (created_by);


--
-- Name: idx_club_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_club_status ON public.clubs USING btree (status);


--
-- Name: idx_expense_club; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_club ON public.expenses USING btree (club_id);


--
-- Name: idx_expense_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_expense_date ON public.expenses USING btree (expense_date);


--
-- Name: idx_member_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_member_club_id ON public.members USING btree (club_id);


--
-- Name: idx_member_rank; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_member_rank ON public.members USING btree (rank);


--
-- Name: idx_member_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_member_user_id ON public.members USING btree (user_id);


--
-- Name: idx_membership_request_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_membership_request_club_id ON public.membership_requests USING btree (club_id);


--
-- Name: idx_membership_request_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_membership_request_status ON public.membership_requests USING btree (status);


--
-- Name: idx_membership_request_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_membership_request_user_id ON public.membership_requests USING btree (user_id);


--
-- Name: idx_task_club_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_task_club_id ON public.tasks USING btree (club_id);


--
-- Name: idx_task_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_task_status ON public.tasks USING btree (status);


--
-- Name: tasks fk56c5st4stmf9fnr7987o5bynv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT fk56c5st4stmf9fnr7987o5bynv FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: skills fkft0ajmtppvhfrrweg5u0fw0vj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT fkft0ajmtppvhfrrweg5u0fw0vj FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: membership_requests fkitof4dvrjgpqithx2yne7gxt; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.membership_requests
    ADD CONSTRAINT fkitof4dvrjgpqithx2yne7gxt FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: members fkk3fqg2x58xsmtswm8wpo9if0i; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT fkk3fqg2x58xsmtswm8wpo9if0i FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- Name: club_update_requests fkoc0gmy9wjeitjo7977etkyurc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.club_update_requests
    ADD CONSTRAINT fkoc0gmy9wjeitjo7977etkyurc FOREIGN KEY (club_id) REFERENCES public.clubs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict GI58rpwzmCGfQAJHubXT8P2Oc16NTLVi2fnIODE4gJSAqWuCaOFmSa1dOOB2bad

