--
-- PostgreSQL database dump
--

\restrict QIp2y6P06ACrRghw7W9nKor9MLcFCBiv8ktRulFuPjbXWSx8e7jznl4HNgswBHe

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    color character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    icon character varying(255) NOT NULL,
    is_locked boolean,
    locked_at timestamp(6) without time zone,
    locked_by bigint,
    name character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: posts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.posts (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    downvotes integer,
    helpful_count integer,
    insightful_count integer,
    is_accepted boolean,
    is_trending boolean,
    like_count integer,
    reactions_count integer,
    score integer,
    updated_at timestamp(6) without time zone,
    upvotes integer,
    user_id bigint NOT NULL,
    user_name character varying(255),
    weighted_score integer,
    topic_id bigint NOT NULL
);


ALTER TABLE public.posts OWNER TO postgres;

--
-- Name: posts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.posts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posts_id_seq OWNER TO postgres;

--
-- Name: posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.posts_id_seq OWNED BY public.posts.id;


--
-- Name: reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reactions (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    type character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    post_id bigint,
    topic_id bigint,
    CONSTRAINT reactions_type_check CHECK (((type)::text = ANY ((ARRAY['LIKE'::character varying, 'HELPFUL'::character varying, 'INSIGHTFUL'::character varying])::text[])))
);


ALTER TABLE public.reactions OWNER TO postgres;

--
-- Name: reactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reactions_id_seq OWNER TO postgres;

--
-- Name: reactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reactions_id_seq OWNED BY public.reactions.id;


--
-- Name: sub_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sub_categories (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    is_locked boolean,
    locked_at timestamp(6) without time zone,
    locked_by bigint,
    name character varying(255) NOT NULL,
    requires_admin_role boolean,
    requires_club_membership boolean,
    updated_at timestamp(6) without time zone,
    category_id bigint NOT NULL
);


ALTER TABLE public.sub_categories OWNER TO postgres;

--
-- Name: sub_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sub_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sub_categories_id_seq OWNER TO postgres;

--
-- Name: sub_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sub_categories_id_seq OWNED BY public.sub_categories.id;


--
-- Name: topics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.topics (
    id bigint NOT NULL,
    content text,
    created_at timestamp(6) without time zone NOT NULL,
    downvotes integer,
    has_accepted_answer boolean,
    helpful_count integer,
    insightful_count integer,
    is_auto_generated boolean,
    is_locked boolean,
    is_pinned boolean,
    is_trending boolean,
    last_activity_at timestamp(6) without time zone,
    like_count integer,
    reactions_count integer,
    resource_link text,
    resource_type character varying(255),
    score integer,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    upvotes integer,
    user_id bigint NOT NULL,
    user_name character varying(255),
    views_count integer,
    weighted_score integer,
    sub_category_id bigint NOT NULL
);


ALTER TABLE public.topics OWNER TO postgres;

--
-- Name: topics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.topics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.topics_id_seq OWNER TO postgres;

--
-- Name: topics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.topics_id_seq OWNED BY public.topics.id;


--
-- Name: vocabulary_words; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vocabulary_words (
    id bigint NOT NULL,
    antonyms text,
    audio_url character varying(500),
    created_at timestamp(6) without time zone,
    definition text NOT NULL,
    example text,
    last_reviewed_at timestamp(6) without time zone,
    mastery_level character varying(255),
    part_of_speech character varying(255),
    phonetic character varying(255),
    review_count integer,
    source_topic_id bigint,
    synonyms text,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    word character varying(255) NOT NULL,
    CONSTRAINT vocabulary_words_mastery_level_check CHECK (((mastery_level)::text = ANY ((ARRAY['NEW'::character varying, 'LEARNING'::character varying])::text[])))
);


ALTER TABLE public.vocabulary_words OWNER TO postgres;

--
-- Name: vocabulary_words_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.vocabulary_words_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vocabulary_words_id_seq OWNER TO postgres;

--
-- Name: vocabulary_words_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.vocabulary_words_id_seq OWNED BY public.vocabulary_words.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: posts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts ALTER COLUMN id SET DEFAULT nextval('public.posts_id_seq'::regclass);


--
-- Name: reactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions ALTER COLUMN id SET DEFAULT nextval('public.reactions_id_seq'::regclass);


--
-- Name: sub_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_categories ALTER COLUMN id SET DEFAULT nextval('public.sub_categories_id_seq'::regclass);


--
-- Name: topics id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topics ALTER COLUMN id SET DEFAULT nextval('public.topics_id_seq'::regclass);


--
-- Name: vocabulary_words id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vocabulary_words ALTER COLUMN id SET DEFAULT nextval('public.vocabulary_words_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.posts (id, content, created_at, downvotes, helpful_count, insightful_count, is_accepted, is_trending, like_count, reactions_count, score, updated_at, upvotes, user_id, user_name, weighted_score, topic_id) FROM stdin;
2	<p>adazdadazd</p>	2026-04-15 17:30:40.585407	0	0	0	f	f	0	0	0	2026-04-15 17:30:40.585407	0	7	aziz abdelmoumen	0	7
\.


--
-- Data for Name: reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reactions (id, created_at, type, user_id, post_id, topic_id) FROM stdin;
4	2026-04-15 17:30:35.333847	LIKE	7	\N	7
\.


--
-- Data for Name: sub_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: topics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vocabulary_words; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 5, true);


--
-- Name: posts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.posts_id_seq', 2, true);


--
-- Name: reactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reactions_id_seq', 4, true);


--
-- Name: sub_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sub_categories_id_seq', 17, true);


--
-- Name: topics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.topics_id_seq', 7, true);


--
-- Name: vocabulary_words_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vocabulary_words_id_seq', 2, true);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: sub_categories sub_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_categories
    ADD CONSTRAINT sub_categories_pkey PRIMARY KEY (id);


--
-- Name: topics topics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT topics_pkey PRIMARY KEY (id);


--
-- Name: vocabulary_words uk45xefnkq432olhnbi1a5go7y7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vocabulary_words
    ADD CONSTRAINT uk45xefnkq432olhnbi1a5go7y7 UNIQUE (user_id, word);


--
-- Name: reactions uk5sg2pne8koat25c8x2iaijsly; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT uk5sg2pne8koat25c8x2iaijsly UNIQUE (user_id, topic_id);


--
-- Name: categories uk_t8o6pivur7nn124jehx7cygw5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT uk_t8o6pivur7nn124jehx7cygw5 UNIQUE (name);


--
-- Name: reactions ukaeq6cssia730m2nihyav05ui1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT ukaeq6cssia730m2nihyav05ui1 UNIQUE (user_id, post_id);


--
-- Name: vocabulary_words vocabulary_words_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vocabulary_words
    ADD CONSTRAINT vocabulary_words_pkey PRIMARY KEY (id);


--
-- Name: reactions fka0uphu0r5gpa21ehwaol39nb9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT fka0uphu0r5gpa21ehwaol39nb9 FOREIGN KEY (topic_id) REFERENCES public.topics(id);


--
-- Name: reactions fkh8b4h9wybhu8tc5w11e8t3krc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT fkh8b4h9wybhu8tc5w11e8t3krc FOREIGN KEY (post_id) REFERENCES public.posts(id);


--
-- Name: topics fkh9ni3pu1d7vk2ttqeumhekart; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.topics
    ADD CONSTRAINT fkh9ni3pu1d7vk2ttqeumhekart FOREIGN KEY (sub_category_id) REFERENCES public.sub_categories(id);


--
-- Name: sub_categories fkjwy7imy3rf6r99x48ydq45otw; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_categories
    ADD CONSTRAINT fkjwy7imy3rf6r99x48ydq45otw FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: posts fkrfchr8dax0kfngvvkbteh5n7h; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT fkrfchr8dax0kfngvvkbteh5n7h FOREIGN KEY (topic_id) REFERENCES public.topics(id);


--
-- PostgreSQL database dump complete
--

\unrestrict QIp2y6P06ACrRghw7W9nKor9MLcFCBiv8ktRulFuPjbXWSx8e7jznl4HNgswBHe

