--
-- PostgreSQL database dump
--

\restrict LNahoHGzIPg5XtDAaFFcDdsP2VzxJBPu8xtc2DDkUCIBodqL8yAPlMnoFwACCHd

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: complaint_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_messages (
    id bigint NOT NULL,
    author_id bigint NOT NULL,
    author_role character varying(255) NOT NULL,
    complaint_id bigint NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.complaint_messages OWNER TO postgres;

--
-- Name: complaint_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaint_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaint_messages_id_seq OWNER TO postgres;

--
-- Name: complaint_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaint_messages_id_seq OWNED BY public.complaint_messages.id;


--
-- Name: complaint_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_notifications (
    id bigint NOT NULL,
    complaint_id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    is_read boolean NOT NULL,
    message text NOT NULL,
    notification_type character varying(255) NOT NULL,
    read_at timestamp(6) without time zone,
    recipient_id bigint NOT NULL,
    recipient_role character varying(255) NOT NULL
);


ALTER TABLE public.complaint_notifications OWNER TO postgres;

--
-- Name: complaint_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaint_notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaint_notifications_id_seq OWNER TO postgres;

--
-- Name: complaint_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaint_notifications_id_seq OWNED BY public.complaint_notifications.id;


--
-- Name: complaint_workflows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaint_workflows (
    id bigint NOT NULL,
    actor_id bigint NOT NULL,
    actor_role character varying(255) NOT NULL,
    comment text,
    complaint_id bigint NOT NULL,
    escalation_reason character varying(255),
    from_status character varying(255) NOT NULL,
    is_escalation boolean,
    "timestamp" timestamp(6) without time zone NOT NULL,
    to_status character varying(255) NOT NULL,
    CONSTRAINT complaint_workflows_from_status_check CHECK (((from_status)::text = ANY ((ARRAY['OPEN'::character varying, 'SUBMITTED'::character varying, 'ANALYZED'::character varying, 'ACTION_ASSIGNED'::character varying, 'NOTED'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_STUDENT_CONFIRMATION'::character varying, 'RESOLVED'::character varying, 'REOPENED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT complaint_workflows_to_status_check CHECK (((to_status)::text = ANY ((ARRAY['OPEN'::character varying, 'SUBMITTED'::character varying, 'ANALYZED'::character varying, 'ACTION_ASSIGNED'::character varying, 'NOTED'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_STUDENT_CONFIRMATION'::character varying, 'RESOLVED'::character varying, 'REOPENED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.complaint_workflows OWNER TO postgres;

--
-- Name: complaint_workflows_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaint_workflows_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaint_workflows_id_seq OWNER TO postgres;

--
-- Name: complaint_workflows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaint_workflows_id_seq OWNED BY public.complaint_workflows.id;


--
-- Name: complaints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.complaints (
    id bigint NOT NULL,
    category character varying(255) NOT NULL,
    club_id integer,
    course_type character varying(100),
    created_at timestamp(6) without time zone NOT NULL,
    description text NOT NULL,
    difficulty character varying(100),
    issue_type character varying(100),
    priority character varying(255) NOT NULL,
    requires_intervention boolean,
    responder_id bigint,
    responder_role character varying(50),
    response text,
    risk_level character varying(255),
    risk_score integer,
    session_count integer,
    status character varying(255) NOT NULL,
    student_confirmed boolean,
    student_feedback character varying(255),
    subject character varying(200) NOT NULL,
    system_insight text,
    target_role character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT complaints_category_check CHECK (((category)::text = ANY ((ARRAY['PEDAGOGICAL'::character varying, 'TECHNICAL'::character varying, 'ADMINISTRATIVE'::character varying, 'BEHAVIORAL'::character varying, 'TUTOR_BEHAVIOR'::character varying, 'SCHEDULE'::character varying, 'CLUB_SUSPENSION'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT complaints_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT complaints_risk_level_check CHECK (((risk_level)::text = ANY ((ARRAY['NORMAL'::character varying, 'LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT complaints_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'SUBMITTED'::character varying, 'ANALYZED'::character varying, 'ACTION_ASSIGNED'::character varying, 'NOTED'::character varying, 'IN_PROGRESS'::character varying, 'PENDING_STUDENT_CONFIRMATION'::character varying, 'RESOLVED'::character varying, 'REOPENED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT complaints_student_feedback_check CHECK (((student_feedback)::text = ANY ((ARRAY['SATISFIED'::character varying, 'PARTIALLY_SATISFIED'::character varying, 'NOT_SATISFIED'::character varying, 'NO_FEEDBACK'::character varying])::text[]))),
    CONSTRAINT complaints_target_role_check CHECK (((target_role)::text = ANY ((ARRAY['TUTOR'::character varying, 'ACADEMIC_OFFICE_AFFAIR'::character varying, 'SUPPORT'::character varying])::text[])))
);


ALTER TABLE public.complaints OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.complaints_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complaints_id_seq OWNER TO postgres;

--
-- Name: complaints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.complaints_id_seq OWNED BY public.complaints.id;


--
-- Name: complaint_messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_messages ALTER COLUMN id SET DEFAULT nextval('public.complaint_messages_id_seq'::regclass);


--
-- Name: complaint_notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_notifications ALTER COLUMN id SET DEFAULT nextval('public.complaint_notifications_id_seq'::regclass);


--
-- Name: complaint_workflows id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_workflows ALTER COLUMN id SET DEFAULT nextval('public.complaint_workflows_id_seq'::regclass);


--
-- Name: complaints id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints ALTER COLUMN id SET DEFAULT nextval('public.complaints_id_seq'::regclass);


--
-- Data for Name: complaint_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint_messages (id, author_id, author_role, complaint_id, content, "timestamp") FROM stdin;
1	13	TUTOR	1	Hello Hello 	2026-04-15 17:34:15.847421
2	7	STUDENT	1	Bonsoir monsieur	2026-04-15 17:34:42.278527
3	5	ACADEMIC_OFFICE_AFFAIR	11	Bonjour , pouvez me monter plus de capture et me d├®tailler comment vous avez eu ce probl├¿me 	2026-04-17 14:38:36.688059
4	1	STUDENT	11	Oui bien je vais vous envoyer des captures d'├®crans 	2026-04-17 14:38:51.380064
\.


--
-- Data for Name: complaint_notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint_notifications (id, complaint_id, created_at, is_read, message, notification_type, read_at, recipient_id, recipient_role) FROM stdin;
\.


--
-- Data for Name: complaint_workflows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.complaint_workflows (id, actor_id, actor_role, comment, complaint_id, escalation_reason, from_status, is_escalation, "timestamp", to_status) FROM stdin;
\.


--
-- Data for Name: complaints; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: complaint_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaint_messages_id_seq', 4, true);


--
-- Name: complaint_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaint_notifications_id_seq', 1, false);


--
-- Name: complaint_workflows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaint_workflows_id_seq', 1, false);


--
-- Name: complaints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.complaints_id_seq', 14, true);


--
-- Name: complaint_messages complaint_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_messages
    ADD CONSTRAINT complaint_messages_pkey PRIMARY KEY (id);


--
-- Name: complaint_notifications complaint_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_notifications
    ADD CONSTRAINT complaint_notifications_pkey PRIMARY KEY (id);


--
-- Name: complaint_workflows complaint_workflows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaint_workflows
    ADD CONSTRAINT complaint_workflows_pkey PRIMARY KEY (id);


--
-- Name: complaints complaints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.complaints
    ADD CONSTRAINT complaints_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict LNahoHGzIPg5XtDAaFFcDdsP2VzxJBPu8xtc2DDkUCIBodqL8yAPlMnoFwACCHd

