--
-- PostgreSQL database dump
--

\restrict nBfwy3V8xxK4zs7h92x7uGhvzr0PnxldwS1JJMus1bemeNm2TA3oJqjvNS9xBuf

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: availability_modification_request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.availability_modification_request (
    id bigint NOT NULL,
    tutor_id bigint NOT NULL,
    tutor_name character varying(255) NOT NULL,
    tutor_email character varying(255),
    reason character varying(1000) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reviewed_at timestamp without time zone,
    reviewer_id bigint,
    reviewer_name character varying(255),
    review_comment character varying(1000),
    proposed_availability text
);


ALTER TABLE public.availability_modification_request OWNER TO postgres;

--
-- Name: availability_modification_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.availability_modification_request_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.availability_modification_request_id_seq OWNER TO postgres;

--
-- Name: availability_modification_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.availability_modification_request_id_seq OWNED BY public.availability_modification_request.id;


--
-- Name: chapter_objectives; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapter_objectives (
    chapter_id bigint NOT NULL,
    objective character varying(255)
);


ALTER TABLE public.chapter_objectives OWNER TO postgres;

--
-- Name: chapter_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapter_progress (
    id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    completed_lessons integer,
    is_completed boolean NOT NULL,
    last_accessed_at timestamp(6) without time zone,
    progress_percentage double precision,
    started_at timestamp(6) without time zone,
    student_id bigint NOT NULL,
    total_lessons integer,
    chapter_id bigint NOT NULL
);


ALTER TABLE public.chapter_progress OWNER TO postgres;

--
-- Name: chapter_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chapter_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chapter_progress_id_seq OWNER TO postgres;

--
-- Name: chapter_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chapter_progress_id_seq OWNED BY public.chapter_progress.id;


--
-- Name: chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chapters (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    description character varying(2000),
    estimated_duration integer,
    is_published boolean NOT NULL,
    order_index integer NOT NULL,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    course_id bigint NOT NULL
);


ALTER TABLE public.chapters OWNER TO postgres;

--
-- Name: TABLE chapters; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.chapters IS 'Course chapters for organizing lessons into logical sections';


--
-- Name: chapters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chapters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chapters_id_seq OWNER TO postgres;

--
-- Name: chapters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chapters_id_seq OWNED BY public.chapters.id;


--
-- Name: course_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_categories (
    id bigint NOT NULL,
    active boolean NOT NULL,
    color character varying(20),
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint NOT NULL,
    description character varying(500),
    display_order integer NOT NULL,
    icon character varying(50),
    name character varying(100) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.course_categories OWNER TO postgres;

--
-- Name: course_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.course_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_categories_id_seq OWNER TO postgres;

--
-- Name: course_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.course_categories_id_seq OWNED BY public.course_categories.id;


--
-- Name: course_enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_enrollments (
    id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    enrolled_at timestamp(6) without time zone NOT NULL,
    is_active boolean NOT NULL,
    last_accessed_at timestamp(6) without time zone,
    student_id bigint NOT NULL,
    total_lessons integer,
    course_id bigint NOT NULL
);


ALTER TABLE public.course_enrollments OWNER TO postgres;

--
-- Name: course_enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.course_enrollments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_enrollments_id_seq OWNER TO postgres;

--
-- Name: course_enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.course_enrollments_id_seq OWNED BY public.course_enrollments.id;


--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id bigint NOT NULL,
    category character varying(255),
    created_at timestamp(6) without time zone,
    description character varying(2000),
    duration integer,
    file_url character varying(255),
    is_featured boolean,
    level character varying(10) NOT NULL,
    max_students integer,
    objectives text,
    prerequisites text,
    price numeric(10,2),
    schedule timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    thumbnail_url character varying(500),
    title character varying(255) NOT NULL,
    tutor_id bigint NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT courses_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'PUBLISHED'::character varying, 'ARCHIVED'::character varying])::text[])))
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: TABLE courses; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.courses IS 'Main courses table with hierarchical structure: Course -> Chapter -> Lesson';


--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.courses_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO postgres;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.courses.id;


--
-- Name: lesson_media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_media (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    description character varying(1000),
    media_type character varying(255) NOT NULL,
    "position" integer NOT NULL,
    title character varying(255),
    updated_at timestamp(6) without time zone,
    url character varying(255) NOT NULL,
    lesson_id bigint NOT NULL,
    CONSTRAINT lesson_media_media_type_check CHECK (((media_type)::text = ANY ((ARRAY['VIDEO'::character varying, 'TEXT'::character varying, 'QUIZ'::character varying, 'ASSIGNMENT'::character varying, 'DOCUMENT'::character varying, 'INTERACTIVE'::character varying])::text[])))
);


ALTER TABLE public.lesson_media OWNER TO postgres;

--
-- Name: lesson_media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_media_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_media_id_seq OWNER TO postgres;

--
-- Name: lesson_media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_media_id_seq OWNED BY public.lesson_media.id;


--
-- Name: lesson_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_progress (
    id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    course_id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    is_completed boolean NOT NULL,
    last_accessed_at timestamp(6) without time zone,
    lesson_id bigint NOT NULL,
    student_id bigint NOT NULL,
    time_spent integer,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.lesson_progress OWNER TO postgres;

--
-- Name: lesson_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_progress_id_seq OWNER TO postgres;

--
-- Name: lesson_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_progress_id_seq OWNED BY public.lesson_progress.id;


--
-- Name: lesson_schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_schedule (
    id bigint NOT NULL,
    online_lesson_id bigint NOT NULL,
    day_of_week integer NOT NULL,
    "time" time without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lesson_schedule OWNER TO postgres;

--
-- Name: lesson_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_schedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_schedule_id_seq OWNER TO postgres;

--
-- Name: lesson_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_schedule_id_seq OWNED BY public.lesson_schedule.id;


--
-- Name: lesson_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_schedules (
    id bigint NOT NULL,
    online_lesson_id bigint NOT NULL,
    day_of_week integer NOT NULL,
    "time" time without time zone NOT NULL,
    created_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    CONSTRAINT lesson_schedules_day_of_week_check CHECK (((day_of_week >= 0) AND (day_of_week <= 6)))
);


ALTER TABLE public.lesson_schedules OWNER TO postgres;

--
-- Name: lesson_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_schedules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_schedules_id_seq OWNER TO postgres;

--
-- Name: lesson_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_schedules_id_seq OWNED BY public.lesson_schedules.id;


--
-- Name: lesson_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_sessions (
    id bigint NOT NULL,
    online_lesson_id bigint NOT NULL,
    session_date date NOT NULL,
    session_time time without time zone NOT NULL,
    status character varying(20) DEFAULT 'scheduled'::character varying NOT NULL,
    meeting_url character varying(500),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    recording_url character varying(255),
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.lesson_sessions OWNER TO postgres;

--
-- Name: lesson_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_sessions_id_seq OWNER TO postgres;

--
-- Name: lesson_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_sessions_id_seq OWNED BY public.lesson_sessions.id;


--
-- Name: lesson_time_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lesson_time_assignments (
    id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    tutor_id bigint NOT NULL,
    day_of_week character varying(20) NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.lesson_time_assignments OWNER TO postgres;

--
-- Name: lesson_time_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lesson_time_assignments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_time_assignments_id_seq OWNER TO postgres;

--
-- Name: lesson_time_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lesson_time_assignments_id_seq OWNED BY public.lesson_time_assignments.id;


--
-- Name: lessons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lessons (
    id bigint NOT NULL,
    content text,
    content_url character varying(255),
    created_at timestamp(6) without time zone,
    description character varying(2000),
    duration integer,
    is_preview boolean NOT NULL,
    is_published boolean NOT NULL,
    lesson_type character varying(255) NOT NULL,
    order_index integer NOT NULL,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    chapter_id bigint NOT NULL,
    quiz_id bigint,
    CONSTRAINT lessons_lesson_type_check CHECK (((lesson_type)::text = ANY ((ARRAY['VIDEO'::character varying, 'TEXT'::character varying, 'QUIZ'::character varying, 'ASSIGNMENT'::character varying, 'DOCUMENT'::character varying, 'INTERACTIVE'::character varying, 'ONLINE'::character varying])::text[])))
);


ALTER TABLE public.lessons OWNER TO postgres;

--
-- Name: TABLE lessons; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lessons IS 'Individual lessons with various types: VIDEO, TEXT, QUIZ, ASSIGNMENT, DOCUMENT, INTERACTIVE, ONLINE';


--
-- Name: COLUMN lessons.quiz_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lessons.quiz_id IS 'Reference to quiz ID from learning-service';


--
-- Name: lessons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lessons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lessons_id_seq OWNER TO postgres;

--
-- Name: lessons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lessons_id_seq OWNED BY public.lessons.id;


--
-- Name: online_lessons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.online_lessons (
    id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    duration_minutes integer NOT NULL,
    timezone character varying(50) DEFAULT 'UTC'::character varying NOT NULL,
    start_date date NOT NULL,
    end_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.online_lessons OWNER TO postgres;

--
-- Name: online_lessons_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.online_lessons_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.online_lessons_id_seq OWNER TO postgres;

--
-- Name: online_lessons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.online_lessons_id_seq OWNED BY public.online_lessons.id;


--
-- Name: online_meeting_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.online_meeting_sessions (
    id bigint NOT NULL,
    lesson_id bigint NOT NULL,
    room_id character varying(255) NOT NULL,
    invite_link character varying(500) NOT NULL,
    tutor_id bigint NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ended_at timestamp without time zone,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.online_meeting_sessions OWNER TO postgres;

--
-- Name: online_meeting_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.online_meeting_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.online_meeting_sessions_id_seq OWNER TO postgres;

--
-- Name: online_meeting_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.online_meeting_sessions_id_seq OWNED BY public.online_meeting_sessions.id;


--
-- Name: pack_courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pack_courses (
    pack_id bigint NOT NULL,
    course_id bigint
);


ALTER TABLE public.pack_courses OWNER TO postgres;

--
-- Name: pack_enrollments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pack_enrollments (
    id bigint NOT NULL,
    completed_at timestamp(6) without time zone,
    enrolled_at timestamp(6) without time zone NOT NULL,
    is_active boolean NOT NULL,
    pack_category character varying(255) NOT NULL,
    pack_id bigint NOT NULL,
    pack_level character varying(255) NOT NULL,
    pack_name character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    student_id bigint NOT NULL,
    student_name character varying(255) NOT NULL,
    total_courses integer NOT NULL,
    tutor_id bigint NOT NULL,
    tutor_name character varying(255) NOT NULL
);


ALTER TABLE public.pack_enrollments OWNER TO postgres;

--
-- Name: pack_enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pack_enrollments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pack_enrollments_id_seq OWNER TO postgres;

--
-- Name: pack_enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pack_enrollments_id_seq OWNED BY public.pack_enrollments.id;


--
-- Name: packs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.packs (
    id bigint NOT NULL,
    category character varying(100) NOT NULL,
    conversation_id bigint,
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint NOT NULL,
    current_enrolled_students integer NOT NULL,
    description character varying(2000),
    enrollment_end_date timestamp(6) without time zone,
    enrollment_start_date timestamp(6) without time zone,
    estimated_duration integer NOT NULL,
    level character varying(10) NOT NULL,
    max_students integer NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2) NOT NULL,
    status character varying(255) NOT NULL,
    tutor_id bigint NOT NULL,
    tutor_name character varying(255) NOT NULL,
    tutor_rating double precision,
    updated_at timestamp(6) without time zone,
    CONSTRAINT packs_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'ACTIVE'::character varying, 'FULL'::character varying, 'CLOSED'::character varying, 'ARCHIVED'::character varying])::text[])))
);


ALTER TABLE public.packs OWNER TO postgres;

--
-- Name: packs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.packs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.packs_id_seq OWNER TO postgres;

--
-- Name: packs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.packs_id_seq OWNED BY public.packs.id;


--
-- Name: session_attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session_attendance (
    id bigint NOT NULL,
    session_id bigint NOT NULL,
    student_id bigint NOT NULL,
    joined_at timestamp without time zone,
    left_at timestamp without time zone,
    attendance_percentage numeric(38,2),
    attendance_status character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.session_attendance OWNER TO postgres;

--
-- Name: session_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.session_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_attendance_id_seq OWNER TO postgres;

--
-- Name: session_attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.session_attendance_id_seq OWNED BY public.session_attendance.id;


--
-- Name: time_slots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.time_slots (
    id bigint NOT NULL,
    end_time time(6) without time zone NOT NULL,
    start_time time(6) without time zone NOT NULL,
    tutor_availability_id bigint
);


ALTER TABLE public.time_slots OWNER TO postgres;

--
-- Name: time_slots_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.time_slots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.time_slots_id_seq OWNER TO postgres;

--
-- Name: time_slots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.time_slots_id_seq OWNED BY public.time_slots.id;


--
-- Name: tutor_availability; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_availability (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    current_students_count integer NOT NULL,
    last_updated timestamp(6) without time zone NOT NULL,
    max_students_capacity integer NOT NULL,
    status character varying(255) NOT NULL,
    tutor_id bigint NOT NULL,
    tutor_name character varying(255) NOT NULL,
    day_of_week integer DEFAULT 1 NOT NULL,
    start_time time without time zone DEFAULT '09:00:00'::time without time zone NOT NULL,
    end_time time without time zone DEFAULT '17:00:00'::time without time zone NOT NULL,
    is_available boolean DEFAULT true NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    locked boolean DEFAULT false NOT NULL,
    CONSTRAINT tutor_availability_status_check CHECK (((status)::text = ANY ((ARRAY['AVAILABLE'::character varying, 'BUSY'::character varying, 'UNAVAILABLE'::character varying])::text[])))
);


ALTER TABLE public.tutor_availability OWNER TO postgres;

--
-- Name: tutor_availability_days; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_availability_days (
    tutor_availability_id bigint NOT NULL,
    available_day integer NOT NULL,
    CONSTRAINT tutor_availability_days_available_day_check CHECK (((available_day >= 0) AND (available_day <= 6)))
);


ALTER TABLE public.tutor_availability_days OWNER TO postgres;

--
-- Name: tutor_availability_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tutor_availability_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tutor_availability_id_seq OWNER TO postgres;

--
-- Name: tutor_availability_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tutor_availability_id_seq OWNED BY public.tutor_availability.id;


--
-- Name: tutor_available_days; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_available_days (
    availability_id bigint NOT NULL,
    day character varying(255),
    CONSTRAINT tutor_available_days_day_check CHECK (((day)::text = ANY ((ARRAY['MONDAY'::character varying, 'TUESDAY'::character varying, 'WEDNESDAY'::character varying, 'THURSDAY'::character varying, 'FRIDAY'::character varying, 'SATURDAY'::character varying, 'SUNDAY'::character varying])::text[])))
);


ALTER TABLE public.tutor_available_days OWNER TO postgres;

--
-- Name: tutor_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_categories (
    availability_id bigint NOT NULL,
    category character varying(100)
);


ALTER TABLE public.tutor_categories OWNER TO postgres;

--
-- Name: tutor_levels; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_levels (
    availability_id bigint NOT NULL,
    level character varying(10)
);


ALTER TABLE public.tutor_levels OWNER TO postgres;

--
-- Name: availability_modification_request id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.availability_modification_request ALTER COLUMN id SET DEFAULT nextval('public.availability_modification_request_id_seq'::regclass);


--
-- Name: chapter_progress id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_progress ALTER COLUMN id SET DEFAULT nextval('public.chapter_progress_id_seq'::regclass);


--
-- Name: chapters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters ALTER COLUMN id SET DEFAULT nextval('public.chapters_id_seq'::regclass);


--
-- Name: course_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_categories ALTER COLUMN id SET DEFAULT nextval('public.course_categories_id_seq'::regclass);


--
-- Name: course_enrollments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments ALTER COLUMN id SET DEFAULT nextval('public.course_enrollments_id_seq'::regclass);


--
-- Name: courses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: lesson_media id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_media ALTER COLUMN id SET DEFAULT nextval('public.lesson_media_id_seq'::regclass);


--
-- Name: lesson_progress id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_progress ALTER COLUMN id SET DEFAULT nextval('public.lesson_progress_id_seq'::regclass);


--
-- Name: lesson_schedule id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedule ALTER COLUMN id SET DEFAULT nextval('public.lesson_schedule_id_seq'::regclass);


--
-- Name: lesson_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedules ALTER COLUMN id SET DEFAULT nextval('public.lesson_schedules_id_seq'::regclass);


--
-- Name: lesson_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_sessions ALTER COLUMN id SET DEFAULT nextval('public.lesson_sessions_id_seq'::regclass);


--
-- Name: lesson_time_assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments ALTER COLUMN id SET DEFAULT nextval('public.lesson_time_assignments_id_seq'::regclass);


--
-- Name: lessons id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons ALTER COLUMN id SET DEFAULT nextval('public.lessons_id_seq'::regclass);


--
-- Name: online_lessons id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_lessons ALTER COLUMN id SET DEFAULT nextval('public.online_lessons_id_seq'::regclass);


--
-- Name: online_meeting_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_meeting_sessions ALTER COLUMN id SET DEFAULT nextval('public.online_meeting_sessions_id_seq'::regclass);


--
-- Name: pack_enrollments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pack_enrollments ALTER COLUMN id SET DEFAULT nextval('public.pack_enrollments_id_seq'::regclass);


--
-- Name: packs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.packs ALTER COLUMN id SET DEFAULT nextval('public.packs_id_seq'::regclass);


--
-- Name: session_attendance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_attendance ALTER COLUMN id SET DEFAULT nextval('public.session_attendance_id_seq'::regclass);


--
-- Name: time_slots id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_slots ALTER COLUMN id SET DEFAULT nextval('public.time_slots_id_seq'::regclass);


--
-- Name: tutor_availability id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_availability ALTER COLUMN id SET DEFAULT nextval('public.tutor_availability_id_seq'::regclass);


--
-- Data for Name: availability_modification_request; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chapter_objectives; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chapter_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chapter_progress (id, completed_at, completed_lessons, is_completed, last_accessed_at, progress_percentage, started_at, student_id, total_lessons, chapter_id) FROM stdin;
\.


--
-- Data for Name: chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: course_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: course_enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_enrollments (id, completed_at, enrolled_at, is_active, last_accessed_at, student_id, total_lessons, course_id) FROM stdin;
1	2026-04-14 17:22:30.590498	2026-04-14 17:22:12.302842	t	2026-04-14 17:22:30.590498	3	1	1
2	\N	2026-04-15 02:12:11.126038	t	2026-04-15 02:12:11.126038	1	2	1
10	\N	2026-04-09 13:03:36.136605	t	2026-04-17 13:03:36.136605	15	5	33
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lesson_media; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_media (id, created_at, description, media_type, "position", title, updated_at, url, lesson_id) FROM stdin;
\.


--
-- Data for Name: lesson_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_progress (id, completed_at, course_id, created_at, is_completed, last_accessed_at, lesson_id, student_id, time_spent, updated_at) FROM stdin;
1	2026-04-14 17:22:30.572496	1	2026-04-14 17:22:30.575499	t	2026-04-14 17:22:30.572496	1	3	\N	2026-04-14 17:22:30.575499
2	2026-04-15 02:53:55.941473	1	2026-04-15 02:53:55.949471	t	2026-04-15 02:53:55.941473	1	1	\N	2026-04-15 02:53:55.949471
\.


--
-- Data for Name: lesson_schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_schedule (id, online_lesson_id, day_of_week, "time", created_at) FROM stdin;
\.


--
-- Data for Name: lesson_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_schedules (id, online_lesson_id, day_of_week, "time", created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: lesson_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_sessions (id, online_lesson_id, session_date, session_time, status, meeting_url, created_at, recording_url, updated_at) FROM stdin;
\.


--
-- Data for Name: lesson_time_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lesson_time_assignments (id, lesson_id, tutor_id, day_of_week, start_time, end_time, created_at) FROM stdin;
1	11	2	WEDNESDAY	02:13:02.762303	04:23:02.762303	2026-04-15 02:09:30.211124
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: online_lessons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.online_lessons (id, lesson_id, duration_minutes, timezone, start_date, end_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: online_meeting_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pack_courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pack_courses (pack_id, course_id) FROM stdin;
2	3
2	2
\.


--
-- Data for Name: pack_enrollments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pack_enrollments (id, completed_at, enrolled_at, is_active, pack_category, pack_id, pack_level, pack_name, status, student_id, student_name, total_courses, tutor_id, tutor_name) FROM stdin;
3	\N	2026-04-15 16:36:34.916435	t	Exam Preparation	2	A1	Exam Preparation A1 - Teacher  Khalil	ACTIVE	7	aziz abdelmoumen	2	13	Teacher  Khalil
\.


--
-- Data for Name: packs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.packs (id, category, conversation_id, created_at, created_by, current_enrolled_students, description, enrollment_end_date, enrollment_start_date, estimated_duration, level, max_students, name, price, status, tutor_id, tutor_name, tutor_rating, updated_at) FROM stdin;
2	Exam Preparation	1	2026-04-15 16:35:55.863045	5	1	azdazdazd	2026-04-30 16:35:00	2026-04-01 16:35:00	0	A1	30	Exam Preparation A1 - Teacher  Khalil	10.00	ACTIVE	13	Teacher  Khalil	0	2026-04-15 16:36:35.934585
\.


--
-- Data for Name: session_attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session_attendance (id, session_id, student_id, joined_at, left_at, attendance_percentage, attendance_status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: time_slots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.time_slots (id, end_time, start_time, tutor_availability_id) FROM stdin;
1	12:00:00	09:00:00	1
2	17:00:00	14:00:00	1
3	12:00:00	10:00:00	2
4	16:30:00	15:00:00	2
\.


--
-- Data for Name: tutor_availability; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tutor_availability (id, created_at, current_students_count, last_updated, max_students_capacity, status, tutor_id, tutor_name, day_of_week, start_time, end_time, is_available, updated_at, locked) FROM stdin;
1	2026-04-14 16:59:19.815582	0	2026-04-14 16:59:19.815582	30	AVAILABLE	2	Teacher  For Test	1	09:00:00	17:00:00	t	2026-04-15 02:02:58.901997	f
2	2026-04-15 16:23:08.343487	0	2026-04-15 16:23:08.343487	30	AVAILABLE	13	Teacher  Khalil	1	09:00:00	17:00:00	t	2026-04-15 16:23:08.299379	f
\.


--
-- Data for Name: tutor_availability_days; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tutor_availability_days (tutor_availability_id, available_day) FROM stdin;
\.


--
-- Data for Name: tutor_available_days; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tutor_available_days (availability_id, day) FROM stdin;
1	SUNDAY
1	THURSDAY
1	MONDAY
1	FRIDAY
1	TUESDAY
1	SATURDAY
1	WEDNESDAY
2	MONDAY
2	TUESDAY
\.


--
-- Data for Name: tutor_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tutor_categories (availability_id, category) FROM stdin;
1	Kids English
1	Vocabulary
1	Exam Preparation
1	Business English
1	Pronunciation
1	General English
1	Writing
1	Academic English
1	Conversation
1	Grammar
2	Business English
2	General English
2	Conversation
\.


--
-- Data for Name: tutor_levels; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tutor_levels (availability_id, level) FROM stdin;
1	A1
1	B2
1	A2
1	C1
1	B1
1	C2
2	A1
2	B2
2	A2
2	C1
\.


--
-- Name: availability_modification_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.availability_modification_request_id_seq', 4, true);


--
-- Name: chapter_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chapter_progress_id_seq', 1, false);


--
-- Name: chapters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chapters_id_seq', 160, true);


--
-- Name: course_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_categories_id_seq', 10, true);


--
-- Name: course_enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.course_enrollments_id_seq', 10, true);


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_id_seq', 53, true);


--
-- Name: lesson_media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_media_id_seq', 1, false);


--
-- Name: lesson_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_progress_id_seq', 10, true);


--
-- Name: lesson_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_schedule_id_seq', 1, false);


--
-- Name: lesson_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_schedules_id_seq', 1, false);


--
-- Name: lesson_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_sessions_id_seq', 1, false);


--
-- Name: lesson_time_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lesson_time_assignments_id_seq', 4, true);


--
-- Name: lessons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lessons_id_seq', 126, true);


--
-- Name: online_lessons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.online_lessons_id_seq', 1, false);


--
-- Name: online_meeting_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.online_meeting_sessions_id_seq', 6, true);


--
-- Name: pack_enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pack_enrollments_id_seq', 3, true);


--
-- Name: packs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.packs_id_seq', 2, true);


--
-- Name: session_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.session_attendance_id_seq', 1, false);


--
-- Name: time_slots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.time_slots_id_seq', 4, true);


--
-- Name: tutor_availability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tutor_availability_id_seq', 2, true);


--
-- Name: availability_modification_request availability_modification_request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.availability_modification_request
    ADD CONSTRAINT availability_modification_request_pkey PRIMARY KEY (id);


--
-- Name: chapter_progress chapter_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_progress
    ADD CONSTRAINT chapter_progress_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_pkey PRIMARY KEY (id);


--
-- Name: course_categories course_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_categories
    ADD CONSTRAINT course_categories_pkey PRIMARY KEY (id);


--
-- Name: course_enrollments course_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT course_enrollments_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: lesson_media lesson_media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_media
    ADD CONSTRAINT lesson_media_pkey PRIMARY KEY (id);


--
-- Name: lesson_progress lesson_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_progress
    ADD CONSTRAINT lesson_progress_pkey PRIMARY KEY (id);


--
-- Name: lesson_schedule lesson_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedule
    ADD CONSTRAINT lesson_schedule_pkey PRIMARY KEY (id);


--
-- Name: lesson_schedules lesson_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedules
    ADD CONSTRAINT lesson_schedules_pkey PRIMARY KEY (id);


--
-- Name: lesson_sessions lesson_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_sessions
    ADD CONSTRAINT lesson_sessions_pkey PRIMARY KEY (id);


--
-- Name: lesson_time_assignments lesson_time_assignments_lesson_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT lesson_time_assignments_lesson_id_key UNIQUE (lesson_id);


--
-- Name: lesson_time_assignments lesson_time_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT lesson_time_assignments_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: online_lessons online_lessons_lesson_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_lessons
    ADD CONSTRAINT online_lessons_lesson_id_key UNIQUE (lesson_id);


--
-- Name: online_lessons online_lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_lessons
    ADD CONSTRAINT online_lessons_pkey PRIMARY KEY (id);


--
-- Name: online_meeting_sessions online_meeting_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_meeting_sessions
    ADD CONSTRAINT online_meeting_sessions_pkey PRIMARY KEY (id);


--
-- Name: pack_enrollments pack_enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pack_enrollments
    ADD CONSTRAINT pack_enrollments_pkey PRIMARY KEY (id);


--
-- Name: packs packs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.packs
    ADD CONSTRAINT packs_pkey PRIMARY KEY (id);


--
-- Name: session_attendance session_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_attendance
    ADD CONSTRAINT session_attendance_pkey PRIMARY KEY (id);


--
-- Name: session_attendance session_attendance_session_id_student_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_attendance
    ADD CONSTRAINT session_attendance_session_id_student_id_key UNIQUE (session_id, student_id);


--
-- Name: time_slots time_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_pkey PRIMARY KEY (id);


--
-- Name: tutor_availability_days tutor_availability_days_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_availability_days
    ADD CONSTRAINT tutor_availability_days_pkey PRIMARY KEY (tutor_availability_id, available_day);


--
-- Name: tutor_availability tutor_availability_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_availability
    ADD CONSTRAINT tutor_availability_pkey PRIMARY KEY (id);


--
-- Name: course_categories uk_nxksnnnkvgo1vca6ffhyfrpux; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_categories
    ADD CONSTRAINT uk_nxksnnnkvgo1vca6ffhyfrpux UNIQUE (name);


--
-- Name: lesson_time_assignments ukd9m8b3m2uq5ih3iiqpggd61vi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT ukd9m8b3m2uq5ih3iiqpggd61vi UNIQUE (tutor_id, day_of_week, start_time);


--
-- Name: lesson_progress uke61llilib3ygeij2bcjle9w1l; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_progress
    ADD CONSTRAINT uke61llilib3ygeij2bcjle9w1l UNIQUE (student_id, lesson_id);


--
-- Name: pack_enrollments ukhsrnn0a24x4nstd6qcb8y6naw; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pack_enrollments
    ADD CONSTRAINT ukhsrnn0a24x4nstd6qcb8y6naw UNIQUE (student_id, pack_id);


--
-- Name: lesson_schedule unique_lesson_schedule; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedule
    ADD CONSTRAINT unique_lesson_schedule UNIQUE (online_lesson_id, day_of_week, "time");


--
-- Name: lesson_time_assignments unique_lesson_time_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT unique_lesson_time_slot UNIQUE (tutor_id, day_of_week, start_time);


--
-- Name: tutor_availability unique_tutor_time_slot; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_availability
    ADD CONSTRAINT unique_tutor_time_slot UNIQUE (tutor_id, day_of_week, start_time);


--
-- Name: idx_course_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_course_id ON public.lesson_progress USING btree (course_id);


--
-- Name: idx_courses_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_category ON public.courses USING btree (category);


--
-- Name: idx_courses_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_level ON public.courses USING btree (level);


--
-- Name: idx_courses_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_status ON public.courses USING btree (status);


--
-- Name: idx_courses_tutor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_courses_tutor_id ON public.courses USING btree (tutor_id);


--
-- Name: idx_lesson_schedule_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_schedule_day ON public.lesson_schedule USING btree (day_of_week);


--
-- Name: idx_lesson_schedule_online_lesson; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_schedule_online_lesson ON public.lesson_schedule USING btree (online_lesson_id);


--
-- Name: idx_lesson_schedules_online_lesson_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_schedules_online_lesson_id ON public.lesson_schedules USING btree (online_lesson_id);


--
-- Name: idx_lesson_sessions_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_sessions_date ON public.lesson_sessions USING btree (session_date);


--
-- Name: idx_lesson_sessions_online_lesson; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_sessions_online_lesson ON public.lesson_sessions USING btree (online_lesson_id);


--
-- Name: idx_lesson_sessions_online_lesson_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_sessions_online_lesson_id ON public.lesson_sessions USING btree (online_lesson_id);


--
-- Name: idx_lesson_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_sessions_status ON public.lesson_sessions USING btree (status);


--
-- Name: idx_lesson_time_assignments_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_time_assignments_day ON public.lesson_time_assignments USING btree (day_of_week);


--
-- Name: idx_lesson_time_assignments_lesson; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_time_assignments_lesson ON public.lesson_time_assignments USING btree (lesson_id);


--
-- Name: idx_lesson_time_assignments_lesson_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_time_assignments_lesson_id ON public.lesson_time_assignments USING btree (lesson_id);


--
-- Name: idx_lesson_time_assignments_tutor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_time_assignments_tutor ON public.lesson_time_assignments USING btree (tutor_id);


--
-- Name: idx_lesson_time_assignments_tutor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lesson_time_assignments_tutor_id ON public.lesson_time_assignments USING btree (tutor_id);


--
-- Name: idx_online_lessons_dates; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_lessons_dates ON public.online_lessons USING btree (start_date, end_date);


--
-- Name: idx_online_lessons_lesson_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_lessons_lesson_id ON public.online_lessons USING btree (lesson_id);


--
-- Name: idx_online_meeting_sessions_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_active ON public.online_meeting_sessions USING btree (is_active);


--
-- Name: idx_online_meeting_sessions_is_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_is_active ON public.online_meeting_sessions USING btree (is_active);


--
-- Name: idx_online_meeting_sessions_lesson; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_lesson ON public.online_meeting_sessions USING btree (lesson_id);


--
-- Name: idx_online_meeting_sessions_lesson_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_lesson_id ON public.online_meeting_sessions USING btree (lesson_id);


--
-- Name: idx_online_meeting_sessions_room; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_room ON public.online_meeting_sessions USING btree (room_id);


--
-- Name: idx_online_meeting_sessions_room_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_room_id ON public.online_meeting_sessions USING btree (room_id);


--
-- Name: idx_online_meeting_sessions_tutor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_online_meeting_sessions_tutor ON public.online_meeting_sessions USING btree (tutor_id);


--
-- Name: idx_requested_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_requested_at ON public.availability_modification_request USING btree (requested_at);


--
-- Name: idx_session_attendance_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_attendance_session ON public.session_attendance USING btree (session_id);


--
-- Name: idx_session_attendance_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_attendance_session_id ON public.session_attendance USING btree (session_id);


--
-- Name: idx_session_attendance_student; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_attendance_student ON public.session_attendance USING btree (student_id);


--
-- Name: idx_session_attendance_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_session_attendance_student_id ON public.session_attendance USING btree (student_id);


--
-- Name: idx_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_status ON public.availability_modification_request USING btree (status);


--
-- Name: idx_student_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_course ON public.lesson_progress USING btree (student_id, course_id);


--
-- Name: idx_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_id ON public.lesson_progress USING btree (student_id);


--
-- Name: idx_time_slots_tutor_availability_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_time_slots_tutor_availability_id ON public.time_slots USING btree (tutor_availability_id);


--
-- Name: idx_tutor_availability_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tutor_availability_day ON public.tutor_availability USING btree (day_of_week);


--
-- Name: idx_tutor_availability_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tutor_availability_status ON public.tutor_availability USING btree (status);


--
-- Name: idx_tutor_availability_tutor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tutor_availability_tutor ON public.tutor_availability USING btree (tutor_id);


--
-- Name: idx_tutor_availability_tutor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tutor_availability_tutor_id ON public.tutor_availability USING btree (tutor_id);


--
-- Name: idx_tutor_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tutor_id ON public.availability_modification_request USING btree (tutor_id);


--
-- Name: tutor_available_days fk1xcqfivenss6oc3hqfpvv07av; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_available_days
    ADD CONSTRAINT fk1xcqfivenss6oc3hqfpvv07av FOREIGN KEY (availability_id) REFERENCES public.tutor_availability(id);


--
-- Name: chapter_progress fk3533ogmd39xygnrub4e96khbs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_progress
    ADD CONSTRAINT fk3533ogmd39xygnrub4e96khbs FOREIGN KEY (chapter_id) REFERENCES public.chapters(id);


--
-- Name: chapters fk6h1m0nrtdwj37570c0sp2tdcs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT fk6h1m0nrtdwj37570c0sp2tdcs FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: lesson_media fk7vifejidfyud8mle5cdl5ui5w; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_media
    ADD CONSTRAINT fk7vifejidfyud8mle5cdl5ui5w FOREIGN KEY (lesson_id) REFERENCES public.lessons(id);


--
-- Name: session_attendance fk_attendance_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_attendance
    ADD CONSTRAINT fk_attendance_session FOREIGN KEY (session_id) REFERENCES public.lesson_sessions(id) ON DELETE CASCADE;


--
-- Name: lesson_schedule fk_lesson_schedule_online_lesson; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedule
    ADD CONSTRAINT fk_lesson_schedule_online_lesson FOREIGN KEY (online_lesson_id) REFERENCES public.online_lessons(id) ON DELETE CASCADE;


--
-- Name: lesson_sessions fk_lesson_session_online_lesson; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_sessions
    ADD CONSTRAINT fk_lesson_session_online_lesson FOREIGN KEY (online_lesson_id) REFERENCES public.online_lessons(id) ON DELETE CASCADE;


--
-- Name: lesson_time_assignments fk_lesson_time_lesson; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT fk_lesson_time_lesson FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON DELETE CASCADE;


--
-- Name: course_enrollments fkf78cq7ecdpk1clt1w5ofnb34t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollments
    ADD CONSTRAINT fkf78cq7ecdpk1clt1w5ofnb34t FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: time_slots fkfb6gseclo0mvw7n6gjda0k52v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT fkfb6gseclo0mvw7n6gjda0k52v FOREIGN KEY (tutor_availability_id) REFERENCES public.tutor_availability(id);


--
-- Name: tutor_categories fkj4ofo0kb56ghx2d2h8xpgi0pi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_categories
    ADD CONSTRAINT fkj4ofo0kb56ghx2d2h8xpgi0pi FOREIGN KEY (availability_id) REFERENCES public.tutor_availability(id);


--
-- Name: lessons fkmb78vk1f2oljr16oj1hpo45ma; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT fkmb78vk1f2oljr16oj1hpo45ma FOREIGN KEY (chapter_id) REFERENCES public.chapters(id);


--
-- Name: tutor_levels fkmx89n6pnyw77boaqdvnwgfl2c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_levels
    ADD CONSTRAINT fkmx89n6pnyw77boaqdvnwgfl2c FOREIGN KEY (availability_id) REFERENCES public.tutor_availability(id);


--
-- Name: chapter_objectives fkn3qdk0l97dq3i53utu0iglrd8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chapter_objectives
    ADD CONSTRAINT fkn3qdk0l97dq3i53utu0iglrd8 FOREIGN KEY (chapter_id) REFERENCES public.chapters(id);


--
-- Name: pack_courses fksxbj254ive8rg8bujtqm6yq7p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pack_courses
    ADD CONSTRAINT fksxbj254ive8rg8bujtqm6yq7p FOREIGN KEY (pack_id) REFERENCES public.packs(id);


--
-- Name: lesson_schedules lesson_schedules_online_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_schedules
    ADD CONSTRAINT lesson_schedules_online_lesson_id_fkey FOREIGN KEY (online_lesson_id) REFERENCES public.online_lessons(id) ON DELETE CASCADE;


--
-- Name: lesson_sessions lesson_sessions_online_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_sessions
    ADD CONSTRAINT lesson_sessions_online_lesson_id_fkey FOREIGN KEY (online_lesson_id) REFERENCES public.online_lessons(id) ON DELETE CASCADE;


--
-- Name: lesson_time_assignments lesson_time_assignments_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lesson_time_assignments
    ADD CONSTRAINT lesson_time_assignments_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON DELETE CASCADE;


--
-- Name: online_lessons online_lessons_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.online_lessons
    ADD CONSTRAINT online_lessons_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id) ON DELETE CASCADE;


--
-- Name: session_attendance session_attendance_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session_attendance
    ADD CONSTRAINT session_attendance_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.lesson_sessions(id) ON DELETE CASCADE;


--
-- Name: tutor_availability_days tutor_availability_days_tutor_availability_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_availability_days
    ADD CONSTRAINT tutor_availability_days_tutor_availability_id_fkey FOREIGN KEY (tutor_availability_id) REFERENCES public.tutor_availability(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nBfwy3V8xxK4zs7h92x7uGhvzr0PnxldwS1JJMus1bemeNm2TA3oJqjvNS9xBuf

