--
-- PostgreSQL database dump
--

\restrict Pu2bglRpjMdC29RdV2FiRSK7QzKlF2s2zaQ7osHqp30LbtwuKiJoLCCJy2KIlUL

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: correct_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.correct_answers (
    id character varying(255) NOT NULL,
    answer_data jsonb NOT NULL,
    question_id character varying(255) NOT NULL
);


ALTER TABLE public.correct_answers OWNER TO postgres;

--
-- Name: exam_parts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exam_parts (
    id character varying(255) NOT NULL,
    audio_url character varying(255),
    instructions text,
    order_index integer NOT NULL,
    part_type character varying(255) NOT NULL,
    reading_text text,
    time_limit integer,
    title character varying(255) NOT NULL,
    exam_id character varying(255) NOT NULL,
    CONSTRAINT exam_parts_part_type_check CHECK (((part_type)::text = ANY ((ARRAY['VOCABULARY'::character varying, 'GRAMMAR'::character varying, 'READING'::character varying, 'LISTENING'::character varying, 'WRITING'::character varying, 'WORD_ORDERING'::character varying, 'FILL_IN_GAP'::character varying, 'MATCHING'::character varying, 'MULTIPLE_CHOICE'::character varying])::text[])))
);


ALTER TABLE public.exam_parts OWNER TO postgres;

--
-- Name: exam_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exam_results (
    id character varying(255) NOT NULL,
    attempt_id character varying(255) NOT NULL,
    cefr_band character varying(255),
    certificate character varying(255),
    created_at timestamp(6) without time zone,
    level character varying(255) NOT NULL,
    part_breakdown jsonb NOT NULL,
    passed boolean NOT NULL,
    percentage_score double precision NOT NULL,
    total_score double precision NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT exam_results_cefr_band_check CHECK (((cefr_band)::text = ANY ((ARRAY['A1'::character varying, 'A2'::character varying, 'B1'::character varying, 'B2'::character varying, 'C1'::character varying, 'C2'::character varying])::text[]))),
    CONSTRAINT exam_results_level_check CHECK (((level)::text = ANY ((ARRAY['A1'::character varying, 'A2'::character varying, 'B1'::character varying, 'B2'::character varying, 'C1'::character varying, 'C2'::character varying])::text[])))
);


ALTER TABLE public.exam_results OWNER TO postgres;

--
-- Name: exams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exams (
    id character varying(255) NOT NULL,
    created_at timestamp(6) without time zone,
    description text,
    is_published boolean NOT NULL,
    level character varying(255) NOT NULL,
    passing_score double precision NOT NULL,
    title character varying(255) NOT NULL,
    total_duration integer NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT exams_level_check CHECK (((level)::text = ANY ((ARRAY['A1'::character varying, 'A2'::character varying, 'B1'::character varying, 'B2'::character varying, 'C1'::character varying, 'C2'::character varying])::text[])))
);


ALTER TABLE public.exams OWNER TO postgres;

--
-- Name: question_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_options (
    id character varying(255) NOT NULL,
    is_correct boolean NOT NULL,
    label text NOT NULL,
    order_index integer NOT NULL,
    question_id character varying(255) NOT NULL
);


ALTER TABLE public.question_options OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id character varying(255) NOT NULL,
    explanation text,
    media_url character varying(255),
    metadata jsonb,
    order_index integer NOT NULL,
    points double precision NOT NULL,
    prompt text NOT NULL,
    question_type character varying(255) NOT NULL,
    part_id character varying(255) NOT NULL,
    CONSTRAINT questions_question_type_check CHECK (((question_type)::text = ANY ((ARRAY['MULTIPLE_CHOICE'::character varying, 'FILL_IN_GAP'::character varying, 'WORD_ORDERING'::character varying, 'OPEN_WRITING'::character varying, 'MATCHING'::character varying, 'TRUE_FALSE'::character varying, 'DROPDOWN_SELECT'::character varying, 'AUDIO_RESPONSE'::character varying])::text[])))
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: student_answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_answers (
    id character varying(255) NOT NULL,
    answer_data jsonb,
    graded_at timestamp(6) without time zone,
    graded_by bigint,
    is_correct boolean,
    manual_feedback text,
    question_id character varying(255) NOT NULL,
    score double precision,
    attempt_id character varying(255) NOT NULL
);


ALTER TABLE public.student_answers OWNER TO postgres;

--
-- Name: student_exam_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_exam_attempts (
    id character varying(255) NOT NULL,
    grading_mode character varying(255) NOT NULL,
    passed boolean,
    percentage_score double precision,
    started_at timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    submitted_at timestamp(6) without time zone,
    time_spent integer,
    total_score double precision,
    user_id bigint NOT NULL,
    exam_id character varying(255) NOT NULL,
    CONSTRAINT student_exam_attempts_grading_mode_check CHECK (((grading_mode)::text = ANY ((ARRAY['AUTO'::character varying, 'MANUAL'::character varying, 'HYBRID'::character varying])::text[]))),
    CONSTRAINT student_exam_attempts_status_check CHECK (((status)::text = ANY ((ARRAY['STARTED'::character varying, 'SUBMITTED'::character varying, 'GRADED'::character varying, 'EXPIRED'::character varying])::text[])))
);


ALTER TABLE public.student_exam_attempts OWNER TO postgres;

--
-- Data for Name: correct_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.correct_answers (id, answer_data, question_id) FROM stdin;
\.


--
-- Data for Name: exam_parts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exam_parts (id, audio_url, instructions, order_index, part_type, reading_text, time_limit, title, exam_id) FROM stdin;
\.


--
-- Data for Name: exam_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exam_results (id, attempt_id, cefr_band, certificate, created_at, level, part_breakdown, passed, percentage_score, total_score, user_id) FROM stdin;
\.


--
-- Data for Name: exams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exams (id, created_at, description, is_published, level, passing_score, title, total_duration, updated_at) FROM stdin;
\.


--
-- Data for Name: question_options; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question_options (id, is_correct, label, order_index, question_id) FROM stdin;
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.questions (id, explanation, media_url, metadata, order_index, points, prompt, question_type, part_id) FROM stdin;
\.


--
-- Data for Name: student_answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_answers (id, answer_data, graded_at, graded_by, is_correct, manual_feedback, question_id, score, attempt_id) FROM stdin;
\.


--
-- Data for Name: student_exam_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_exam_attempts (id, grading_mode, passed, percentage_score, started_at, status, submitted_at, time_spent, total_score, user_id, exam_id) FROM stdin;
\.


--
-- Name: correct_answers correct_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT correct_answers_pkey PRIMARY KEY (id);


--
-- Name: exam_parts exam_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_parts
    ADD CONSTRAINT exam_parts_pkey PRIMARY KEY (id);


--
-- Name: exam_results exam_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_results
    ADD CONSTRAINT exam_results_pkey PRIMARY KEY (id);


--
-- Name: exams exams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exams
    ADD CONSTRAINT exams_pkey PRIMARY KEY (id);


--
-- Name: question_options question_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT question_options_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: student_answers student_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_answers
    ADD CONSTRAINT student_answers_pkey PRIMARY KEY (id);


--
-- Name: student_exam_attempts student_exam_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_exam_attempts
    ADD CONSTRAINT student_exam_attempts_pkey PRIMARY KEY (id);


--
-- Name: correct_answers uk_3rh9ychf3y6f60erwh9mum0t3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT uk_3rh9ychf3y6f60erwh9mum0t3 UNIQUE (question_id);


--
-- Name: exam_results uk_hs6ag202u4sn4qllnpmjsqjuh; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_results
    ADD CONSTRAINT uk_hs6ag202u4sn4qllnpmjsqjuh UNIQUE (attempt_id);


--
-- Name: questions fk6hp4oow4kmg7nade7lltgxj9o; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fk6hp4oow4kmg7nade7lltgxj9o FOREIGN KEY (part_id) REFERENCES public.exam_parts(id);


--
-- Name: student_answers fkgdkeqh28kjohhsxobt90xh46d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_answers
    ADD CONSTRAINT fkgdkeqh28kjohhsxobt90xh46d FOREIGN KEY (attempt_id) REFERENCES public.student_exam_attempts(id);


--
-- Name: student_exam_attempts fkmp9dram0338l5y75m16as143m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_exam_attempts
    ADD CONSTRAINT fkmp9dram0338l5y75m16as143m FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: exam_parts fkoaatrl2g1ilngixfntbnqknnh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exam_parts
    ADD CONSTRAINT fkoaatrl2g1ilngixfntbnqknnh FOREIGN KEY (exam_id) REFERENCES public.exams(id);


--
-- Name: question_options fksb9v00wdrgc9qojtjkv7e1gkp; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_options
    ADD CONSTRAINT fksb9v00wdrgc9qojtjkv7e1gkp FOREIGN KEY (question_id) REFERENCES public.questions(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Pu2bglRpjMdC29RdV2FiRSK7QzKlF2s2zaQ7osHqp30LbtwuKiJoLCCJy2KIlUL

