--
-- PostgreSQL database dump
--

\restrict 3ICcb64T6hmlO6n7OZ8G9QdJs7bdIGVX7EknyOycGE0HefHW6V5c3sjSIq3bdad

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activation_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activation_tokens (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    expiry_date timestamp(6) without time zone NOT NULL,
    token character varying(255) NOT NULL,
    used boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.activation_tokens OWNER TO postgres;

--
-- Name: activation_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activation_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activation_tokens_id_seq OWNER TO postgres;

--
-- Name: activation_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activation_tokens_id_seq OWNED BY public.activation_tokens.id;


--
-- Name: application_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_documents (
    id bigint NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    file_size bigint NOT NULL,
    file_type character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    uploaded_at timestamp(6) without time zone NOT NULL,
    application_id bigint NOT NULL,
    CONSTRAINT application_documents_type_check CHECK (((type)::text = ANY ((ARRAY['CV'::character varying, 'DEGREE'::character varying, 'CERTIFICATE'::character varying, 'ID_CARD'::character varying, 'VIDEO_PRESENTATION'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.application_documents OWNER TO postgres;

--
-- Name: application_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_documents_id_seq OWNER TO postgres;

--
-- Name: application_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_documents_id_seq OWNED BY public.application_documents.id;


--
-- Name: application_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_notes (
    id bigint NOT NULL,
    content character varying(2000) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint NOT NULL,
    application_id bigint NOT NULL
);


ALTER TABLE public.application_notes OWNER TO postgres;

--
-- Name: application_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_notes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_notes_id_seq OWNER TO postgres;

--
-- Name: application_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_notes_id_seq OWNED BY public.application_notes.id;


--
-- Name: application_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_status_history (
    id bigint NOT NULL,
    changed_at timestamp(6) without time zone NOT NULL,
    changed_by bigint,
    comment character varying(500),
    from_status character varying(255) NOT NULL,
    to_status character varying(255) NOT NULL,
    application_id bigint NOT NULL,
    CONSTRAINT application_status_history_from_status_check CHECK (((from_status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SUBMITTED'::character varying, 'UNDER_REVIEW'::character varying, 'INTERVIEW_SCHEDULED'::character varying, 'TEST_PENDING'::character varying, 'TEST_COMPLETED'::character varying, 'ACCEPTED'::character varying, 'REJECTED'::character varying, 'WITHDRAWN'::character varying])::text[]))),
    CONSTRAINT application_status_history_to_status_check CHECK (((to_status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SUBMITTED'::character varying, 'UNDER_REVIEW'::character varying, 'INTERVIEW_SCHEDULED'::character varying, 'TEST_PENDING'::character varying, 'TEST_COMPLETED'::character varying, 'ACCEPTED'::character varying, 'REJECTED'::character varying, 'WITHDRAWN'::character varying])::text[])))
);


ALTER TABLE public.application_status_history OWNER TO postgres;

--
-- Name: application_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_status_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.application_status_history_id_seq OWNER TO postgres;

--
-- Name: application_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_status_history_id_seq OWNED BY public.application_status_history.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    details text,
    error_message text,
    ip_address character varying(45),
    resource_id character varying(100),
    resource_type character varying(50),
    session_id character varying(100),
    status character varying(20) NOT NULL,
    user_agent text,
    user_email character varying(255),
    user_id bigint,
    CONSTRAINT audit_logs_action_check CHECK (((action)::text = ANY ((ARRAY['LOGIN_SUCCESS'::character varying, 'LOGIN_FAILED'::character varying, 'LOGOUT'::character varying, 'LOGOUT_ALL_DEVICES'::character varying, 'REGISTER_SUCCESS'::character varying, 'REGISTER_FAILED'::character varying, 'ACCOUNT_ACTIVATION'::character varying, 'PASSWORD_RESET_REQUEST'::character varying, 'PASSWORD_RESET_SUCCESS'::character varying, 'PASSWORD_RESET_FAILED'::character varying, 'PASSWORD_CHANGE'::character varying, 'TOKEN_REFRESH'::character varying, 'TOKEN_REVOKED'::character varying, 'PROFILE_UPDATE'::character varying, 'PROFILE_PHOTO_UPLOAD'::character varying, 'PROFILE_COMPLETION'::character varying, 'INVITATION_SENT'::character varying, 'INVITATION_ACCEPTED'::character varying, 'INVITATION_CANCELLED'::character varying, 'INVITATION_EXPIRED'::character varying, 'USER_CREATED'::character varying, 'USER_UPDATED'::character varying, 'USER_DELETED'::character varying, 'USER_ACTIVATED'::character varying, 'USER_DEACTIVATED'::character varying, 'ROLE_CHANGED'::character varying, 'SUSPICIOUS_LOGIN_ATTEMPT'::character varying, 'RATE_LIMIT_EXCEEDED'::character varying, 'INVALID_TOKEN_USED'::character varying, 'MULTIPLE_FAILED_LOGINS'::character varying, 'DATA_EXPORT'::character varying, 'DATA_IMPORT'::character varying, 'SYSTEM_CONFIG_CHANGE'::character varying])::text[]))),
    CONSTRAINT audit_logs_status_check CHECK (((status)::text = ANY ((ARRAY['SUCCESS'::character varying, 'FAILED'::character varying, 'WARNING'::character varying, 'INFO'::character varying])::text[])))
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: interview_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_schedules (
    id bigint NOT NULL,
    cancellation_reason text,
    cancelled_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    duration_minutes integer NOT NULL,
    google_event_id character varying(255),
    interviewer_id bigint NOT NULL,
    meeting_link character varying(500) NOT NULL,
    meeting_platform character varying(50),
    scheduled_end timestamp(6) without time zone NOT NULL,
    scheduled_start timestamp(6) without time zone NOT NULL,
    status character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    application_id bigint NOT NULL,
    CONSTRAINT interview_schedules_status_check CHECK (((status)::text = ANY ((ARRAY['SCHEDULED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying, 'NO_SHOW'::character varying])::text[])))
);


ALTER TABLE public.interview_schedules OWNER TO postgres;

--
-- Name: interview_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.interview_schedules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.interview_schedules_id_seq OWNER TO postgres;

--
-- Name: interview_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.interview_schedules_id_seq OWNED BY public.interview_schedules.id;


--
-- Name: invitations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitations (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    expiry_date timestamp(6) without time zone NOT NULL,
    invited_by bigint NOT NULL,
    role character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    used boolean NOT NULL,
    used_at timestamp(6) without time zone,
    CONSTRAINT invitations_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'TUTOR'::character varying, 'STUDENT'::character varying, 'ACADEMIC_OFFICE_AFFAIR'::character varying, 'SPONSOR'::character varying])::text[])))
);


ALTER TABLE public.invitations OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invitations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitations_id_seq OWNER TO postgres;

--
-- Name: invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invitations_id_seq OWNED BY public.invitations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id bigint NOT NULL,
    expiry_date timestamp(6) without time zone NOT NULL,
    token character varying(255) NOT NULL,
    used boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: professional_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.professional_documents (
    id bigint NOT NULL,
    document_type character varying(255) NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    file_size bigint,
    uploaded_at timestamp(6) without time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.professional_documents OWNER TO postgres;

--
-- Name: professional_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.professional_documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.professional_documents_id_seq OWNER TO postgres;

--
-- Name: professional_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.professional_documents_id_seq OWNED BY public.professional_documents.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    device_info character varying(255) NOT NULL,
    expiry_date timestamp(6) without time zone NOT NULL,
    ip_address character varying(255) NOT NULL,
    last_used_at timestamp(6) without time zone NOT NULL,
    revoked boolean NOT NULL,
    token character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: tutor_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutor_applications (
    id bigint NOT NULL,
    address character varying(255),
    availability character varying(500),
    certifications character varying(2000),
    cin character varying(255),
    city character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    current_step integer NOT NULL,
    date_of_birth character varying(255),
    education character varying(2000),
    email character varying(255) NOT NULL,
    english_level character varying(100),
    first_name character varying(255) NOT NULL,
    interview_meeting_link character varying(255),
    interview_notes character varying(255),
    interview_scheduled_at timestamp(6) without time zone,
    last_name character varying(255) NOT NULL,
    motivation_letter character varying(2000),
    nationality character varying(255),
    overall_score integer,
    phone character varying(255) NOT NULL,
    postal_code character varying(255),
    presentation_score integer,
    qualification_score integer,
    rejection_reason character varying(255),
    reviewed_at timestamp(6) without time zone,
    reviewed_by bigint,
    specializations character varying(500),
    status character varying(255) NOT NULL,
    submitted_at timestamp(6) without time zone,
    teaching_philosophy character varying(1000),
    terms_accepted boolean NOT NULL,
    terms_accepted_at timestamp(6) without time zone,
    test_completed_at timestamp(6) without time zone,
    test_score integer,
    updated_at timestamp(6) without time zone NOT NULL,
    work_experience character varying(2000),
    years_of_experience integer,
    CONSTRAINT tutor_applications_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SUBMITTED'::character varying, 'UNDER_REVIEW'::character varying, 'INTERVIEW_SCHEDULED'::character varying, 'TEST_PENDING'::character varying, 'TEST_COMPLETED'::character varying, 'ACCEPTED'::character varying, 'REJECTED'::character varying, 'WITHDRAWN'::character varying])::text[])))
);


ALTER TABLE public.tutor_applications OWNER TO postgres;

--
-- Name: tutor_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tutor_applications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tutor_applications_id_seq OWNER TO postgres;

--
-- Name: tutor_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tutor_applications_id_seq OWNED BY public.tutor_applications.id;


--
-- Name: two_factor_auth; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.two_factor_auth (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    enabled boolean NOT NULL,
    enabled_at timestamp(6) without time zone,
    last_used_at timestamp(6) without time zone,
    secret character varying(32) NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL
);


ALTER TABLE public.two_factor_auth OWNER TO postgres;

--
-- Name: two_factor_auth_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.two_factor_auth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.two_factor_auth_id_seq OWNER TO postgres;

--
-- Name: two_factor_auth_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.two_factor_auth_id_seq OWNED BY public.two_factor_auth.id;


--
-- Name: two_factor_backup_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.two_factor_backup_codes (
    two_factor_auth_id bigint NOT NULL,
    backup_code character varying(10)
);


ALTER TABLE public.two_factor_backup_codes OWNER TO postgres;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id bigint NOT NULL,
    browser_name character varying(100),
    browser_version character varying(50),
    city character varying(100),
    country character varying(100),
    created_at timestamp(6) without time zone NOT NULL,
    device_info text,
    device_type character varying(50),
    expires_at timestamp(6) without time zone,
    ip_address character varying(45),
    isp character varying(200),
    last_activity timestamp(6) without time zone NOT NULL,
    last_login_at timestamp(6) without time zone,
    login_count integer NOT NULL,
    operating_system character varying(100),
    refresh_token_id bigint,
    session_token character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    is_suspicious boolean NOT NULL,
    suspicious_reasons text,
    terminated_at timestamp(6) without time zone,
    termination_reason character varying(50),
    user_id bigint NOT NULL,
    CONSTRAINT user_sessions_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying, 'EXPIRED'::character varying, 'TERMINATED'::character varying, 'SUSPICIOUS'::character varying])::text[]))),
    CONSTRAINT user_sessions_termination_reason_check CHECK (((termination_reason)::text = ANY ((ARRAY['USER_LOGOUT'::character varying, 'ADMIN_TERMINATED'::character varying, 'SECURITY_VIOLATION'::character varying, 'TOKEN_EXPIRED'::character varying, 'INACTIVITY_TIMEOUT'::character varying, 'CONCURRENT_LOGIN_LIMIT'::character varying, 'SUSPICIOUS_ACTIVITY'::character varying, 'SYSTEM_MAINTENANCE'::character varying])::text[])))
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_sessions_id_seq OWNER TO postgres;

--
-- Name: user_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_sessions_id_seq OWNED BY public.user_sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    address character varying(255),
    application_id bigint,
    bio character varying(500),
    cin character varying(255),
    city character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    date_of_birth character varying(255),
    email character varying(255) NOT NULL,
    english_level character varying(255),
    first_name character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    last_name character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255),
    postal_code character varying(255),
    profile_completed boolean NOT NULL,
    profile_photo character varying(255),
    registration_fee_paid boolean NOT NULL,
    role character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    years_of_experience integer,
    must_change_password boolean DEFAULT false NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'TUTOR'::character varying, 'STUDENT'::character varying, 'ACADEMIC_OFFICE_AFFAIR'::character varying, 'SPONSOR'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: COLUMN users.must_change_password; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.must_change_password IS 'Forces user to change password on first login (e.g., for recruited tutors with temporary passwords)';


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activation_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_tokens ALTER COLUMN id SET DEFAULT nextval('public.activation_tokens_id_seq'::regclass);


--
-- Name: application_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_documents ALTER COLUMN id SET DEFAULT nextval('public.application_documents_id_seq'::regclass);


--
-- Name: application_notes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_notes ALTER COLUMN id SET DEFAULT nextval('public.application_notes_id_seq'::regclass);


--
-- Name: application_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_status_history ALTER COLUMN id SET DEFAULT nextval('public.application_status_history_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: interview_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules ALTER COLUMN id SET DEFAULT nextval('public.interview_schedules_id_seq'::regclass);


--
-- Name: invitations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations ALTER COLUMN id SET DEFAULT nextval('public.invitations_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: professional_documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professional_documents ALTER COLUMN id SET DEFAULT nextval('public.professional_documents_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: tutor_applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_applications ALTER COLUMN id SET DEFAULT nextval('public.tutor_applications_id_seq'::regclass);


--
-- Name: two_factor_auth id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_auth ALTER COLUMN id SET DEFAULT nextval('public.two_factor_auth_id_seq'::regclass);


--
-- Name: user_sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions ALTER COLUMN id SET DEFAULT nextval('public.user_sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activation_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activation_tokens (id, created_at, expiry_date, token, used, user_id) FROM stdin;
1	2026-04-14 16:32:04.198167	2026-04-15 16:32:04.198167	686e52e9-0770-4de0-a17b-5e8730eb96c7	t	1
4	2026-04-14 17:19:03.270805	2026-04-15 17:19:03.270805	1574f838-85d3-49a1-83ca-07facc24cfd7	t	5
\.


--
-- Data for Name: application_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: application_notes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.application_notes (id, content, created_at, created_by, application_id) FROM stdin;
\.


--
-- Data for Name: application_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, action, created_at, details, error_message, ip_address, resource_id, resource_type, session_id, status, user_agent, user_email, user_id) FROM stdin;
\.


--
-- Data for Name: interview_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.interview_schedules (id, cancellation_reason, cancelled_at, created_at, description, duration_minutes, google_event_id, interviewer_id, meeting_link, meeting_platform, scheduled_end, scheduled_start, status, title, updated_at, application_id) FROM stdin;
1	\N	\N	2026-04-14 16:43:23.63882	Entretien de recrutement pour le poste de tuteur\n\nCandidat: Teacher  1 \nEmail: khalilabdelmoumen11@gmail.com	60	lkt6e7inng134qu9i9qgrq4csk	1	https://meet.google.com/ptg-sxbr-etk	GOOGLE_MEET	2026-04-21 10:00:00	2026-04-21 09:00:00	SCHEDULED	Interview - Teacher  1 	2026-04-14 16:43:23.63882	1
\.


--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invitations (id, created_at, email, expiry_date, invited_by, role, token, used, used_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, expiry_date, token, used, user_id) FROM stdin;
\.


--
-- Data for Name: professional_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.professional_documents (id, document_type, file_name, file_path, file_size, uploaded_at, user_id) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tutor_applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: two_factor_auth; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.two_factor_auth (id, created_at, enabled, enabled_at, last_used_at, secret, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: two_factor_backup_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.two_factor_backup_codes (two_factor_auth_id, backup_code) FROM stdin;
\.


--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activation_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activation_tokens_id_seq', 6, true);


--
-- Name: application_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_documents_id_seq', 4, true);


--
-- Name: application_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_notes_id_seq', 1, false);


--
-- Name: application_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_status_history_id_seq', 16, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: interview_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.interview_schedules_id_seq', 1, true);


--
-- Name: invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invitations_id_seq', 1, false);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 1, false);


--
-- Name: professional_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.professional_documents_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 13, true);


--
-- Name: tutor_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tutor_applications_id_seq', 1, true);


--
-- Name: two_factor_auth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.two_factor_auth_id_seq', 1, false);


--
-- Name: user_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sessions_id_seq', 74, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 51, true);


--
-- Name: activation_tokens activation_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_tokens
    ADD CONSTRAINT activation_tokens_pkey PRIMARY KEY (id);


--
-- Name: application_documents application_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_documents
    ADD CONSTRAINT application_documents_pkey PRIMARY KEY (id);


--
-- Name: application_notes application_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_notes
    ADD CONSTRAINT application_notes_pkey PRIMARY KEY (id);


--
-- Name: application_status_history application_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_status_history
    ADD CONSTRAINT application_status_history_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: two_factor_auth idx_2fa_user; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_auth
    ADD CONSTRAINT idx_2fa_user UNIQUE (user_id);


--
-- Name: interview_schedules interview_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules
    ADD CONSTRAINT interview_schedules_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: professional_documents professional_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.professional_documents
    ADD CONSTRAINT professional_documents_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: tutor_applications tutor_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_applications
    ADD CONSTRAINT tutor_applications_pkey PRIMARY KEY (id);


--
-- Name: two_factor_auth two_factor_auth_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_auth
    ADD CONSTRAINT two_factor_auth_pkey PRIMARY KEY (id);


--
-- Name: tutor_applications uk_31xpk85kldh4wok54fwks0qlu; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutor_applications
    ADD CONSTRAINT uk_31xpk85kldh4wok54fwks0qlu UNIQUE (email);


--
-- Name: activation_tokens uk_5jny0xpou62bqdjhkbw1c0qxd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_tokens
    ADD CONSTRAINT uk_5jny0xpou62bqdjhkbw1c0qxd UNIQUE (token);


--
-- Name: users uk_6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: password_reset_tokens uk_71lqwbwtklmljk3qlsugr1mig; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT uk_71lqwbwtklmljk3qlsugr1mig UNIQUE (token);


--
-- Name: two_factor_auth uk_ftt5s3abki7yxb23nyjfvlwk5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_auth
    ADD CONSTRAINT uk_ftt5s3abki7yxb23nyjfvlwk5 UNIQUE (user_id);


--
-- Name: refresh_tokens uk_ghpmfn23vmxfu3spu3lfg4r2d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT uk_ghpmfn23vmxfu3spu3lfg4r2d UNIQUE (token);


--
-- Name: user_sessions uk_h3bafswclg0jyaj1vi6sgg7o5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT uk_h3bafswclg0jyaj1vi6sgg7o5 UNIQUE (session_token);


--
-- Name: users uk_ka6m8ghsr7vna1ti6lftwww8o; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk_ka6m8ghsr7vna1ti6lftwww8o UNIQUE (cin);


--
-- Name: invitations uk_t4i6esv44p6yi7cxq277vlo3i; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT uk_t4i6esv44p6yi7cxq277vlo3i UNIQUE (token);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: application_notes fk5wkxl897ecga4s1cnofuaahaq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_notes
    ADD CONSTRAINT fk5wkxl897ecga4s1cnofuaahaq FOREIGN KEY (application_id) REFERENCES public.tutor_applications(id);


--
-- Name: two_factor_auth fkax3p7kk0ktwnpreejtt5661w; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_auth
    ADD CONSTRAINT fkax3p7kk0ktwnpreejtt5661w FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: application_status_history fkfg843vby05amwrfhpwa5flmdi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_status_history
    ADD CONSTRAINT fkfg843vby05amwrfhpwa5flmdi FOREIGN KEY (application_id) REFERENCES public.tutor_applications(id);


--
-- Name: activation_tokens fkgtry5rof27b5hdur1a11y0gsn; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activation_tokens
    ADD CONSTRAINT fkgtry5rof27b5hdur1a11y0gsn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: password_reset_tokens fkk3ndxg5xp6v7wd4gjyusp15gq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT fkk3ndxg5xp6v7wd4gjyusp15gq FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: two_factor_backup_codes fkn43wssw5xecnm4ii5kucop1nt; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.two_factor_backup_codes
    ADD CONSTRAINT fkn43wssw5xecnm4ii5kucop1nt FOREIGN KEY (two_factor_auth_id) REFERENCES public.two_factor_auth(id);


--
-- Name: application_documents fkpbadjwbyjlpbgietu3fymmaxr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_documents
    ADD CONSTRAINT fkpbadjwbyjlpbgietu3fymmaxr FOREIGN KEY (application_id) REFERENCES public.tutor_applications(id);


--
-- Name: interview_schedules fksu1suwn8u0ldp96g9dqybgl33; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules
    ADD CONSTRAINT fksu1suwn8u0ldp96g9dqybgl33 FOREIGN KEY (application_id) REFERENCES public.tutor_applications(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3ICcb64T6hmlO6n7OZ8G9QdJs7bdIGVX7EknyOycGE0HefHW6V5c3sjSIq3bdad

