--
-- PostgreSQL database dump
--

\restrict tz0eSd6vCzS13xQ0KejWPFaHbXKDToL7jlLFFMYeE9gYJn2RgnqdU03WUoSCeZb

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookmark; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookmark (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    note character varying(500),
    page_number integer NOT NULL,
    progress_id bigint NOT NULL
);


ALTER TABLE public.bookmark OWNER TO postgres;

--
-- Name: bookmark_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bookmark_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookmark_id_seq OWNER TO postgres;

--
-- Name: bookmark_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bookmark_id_seq OWNED BY public.bookmark.id;


--
-- Name: collection_ebooks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection_ebooks (
    collection_id bigint NOT NULL,
    ebook_id bigint NOT NULL
);


ALTER TABLE public.collection_ebooks OWNER TO postgres;

--
-- Name: ebook; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook (
    id bigint NOT NULL,
    average_rating double precision,
    category character varying(255),
    cover_image_url character varying(255),
    created_at timestamp(6) without time zone,
    created_by bigint,
    description character varying(5000),
    download_count integer,
    file_size bigint,
    file_url character varying(255) NOT NULL,
    is_free boolean,
    level character varying(255),
    mime_type character varying(255),
    price numeric(38,2),
    pricing_model character varying(255),
    published_at timestamp(6) without time zone,
    review_count integer,
    scheduled_for timestamp(6) without time zone,
    status character varying(255),
    thumbnail_url character varying(255),
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    view_count integer,
    CONSTRAINT ebook_category_check CHECK (((category)::text = ANY ((ARRAY['GRAMMAR'::character varying, 'VOCABULARY'::character varying, 'BUSINESS'::character varying, 'EXAM_PREP'::character varying, 'GENERAL'::character varying])::text[]))),
    CONSTRAINT ebook_level_check CHECK (((level)::text = ANY ((ARRAY['A1'::character varying, 'A2'::character varying, 'B1'::character varying, 'B2'::character varying, 'C1'::character varying])::text[]))),
    CONSTRAINT ebook_pricing_model_check CHECK (((pricing_model)::text = ANY ((ARRAY['FREE'::character varying, 'FREEMIUM'::character varying, 'PREMIUM'::character varying])::text[]))),
    CONSTRAINT ebook_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'SCHEDULED'::character varying, 'PUBLISHED'::character varying, 'ARCHIVED'::character varying, 'PENDING'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.ebook OWNER TO postgres;

--
-- Name: ebook_access; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_access (
    id bigint NOT NULL,
    accessed_at timestamp(6) without time zone,
    progress_percent integer,
    student_id bigint NOT NULL,
    ebook_id bigint NOT NULL
);


ALTER TABLE public.ebook_access OWNER TO postgres;

--
-- Name: ebook_access_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_access_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_access_id_seq OWNER TO postgres;

--
-- Name: ebook_access_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_access_id_seq OWNED BY public.ebook_access.id;


--
-- Name: ebook_chapter; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_chapter (
    id bigint NOT NULL,
    description character varying(1000),
    end_page integer,
    file_url character varying(255),
    is_free boolean,
    order_index integer NOT NULL,
    start_page integer,
    title character varying(255) NOT NULL,
    ebook_id bigint NOT NULL
);


ALTER TABLE public.ebook_chapter OWNER TO postgres;

--
-- Name: ebook_chapter_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_chapter_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_chapter_id_seq OWNER TO postgres;

--
-- Name: ebook_chapter_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_chapter_id_seq OWNED BY public.ebook_chapter.id;


--
-- Name: ebook_collection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_collection (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    description character varying(1000),
    is_public boolean,
    name character varying(255) NOT NULL,
    owner_id bigint NOT NULL,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.ebook_collection OWNER TO postgres;

--
-- Name: ebook_collection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_collection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_collection_id_seq OWNER TO postgres;

--
-- Name: ebook_collection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_collection_id_seq OWNED BY public.ebook_collection.id;


--
-- Name: ebook_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_id_seq OWNER TO postgres;

--
-- Name: ebook_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_id_seq OWNED BY public.ebook.id;


--
-- Name: ebook_keywords; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_keywords (
    metadata_id bigint NOT NULL,
    keyword character varying(255)
);


ALTER TABLE public.ebook_keywords OWNER TO postgres;

--
-- Name: ebook_metadata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_metadata (
    id bigint NOT NULL,
    author character varying(255),
    edition character varying(255),
    estimated_read_time_minutes integer,
    isbn character varying(255),
    language character varying(255),
    publication_date date,
    publisher character varying(255),
    table_of_contents character varying(1000),
    total_pages integer,
    ebook_id bigint
);


ALTER TABLE public.ebook_metadata OWNER TO postgres;

--
-- Name: ebook_metadata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_metadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_metadata_id_seq OWNER TO postgres;

--
-- Name: ebook_metadata_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_metadata_id_seq OWNED BY public.ebook_metadata.id;


--
-- Name: ebook_note; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_note (
    id bigint NOT NULL,
    color character varying(20),
    content character varying(2000) NOT NULL,
    created_at timestamp(6) without time zone,
    highlighted_text character varying(1000),
    page_number integer NOT NULL,
    updated_at timestamp(6) without time zone,
    progress_id bigint NOT NULL
);


ALTER TABLE public.ebook_note OWNER TO postgres;

--
-- Name: ebook_note_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_note_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_note_id_seq OWNER TO postgres;

--
-- Name: ebook_note_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_note_id_seq OWNED BY public.ebook_note.id;


--
-- Name: ebook_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_review (
    id bigint NOT NULL,
    comment character varying(2000),
    created_at timestamp(6) without time zone,
    helpful_count integer,
    is_verified boolean,
    rating integer NOT NULL,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    ebook_id bigint NOT NULL
);


ALTER TABLE public.ebook_review OWNER TO postgres;

--
-- Name: ebook_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ebook_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ebook_review_id_seq OWNER TO postgres;

--
-- Name: ebook_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ebook_review_id_seq OWNED BY public.ebook_review.id;


--
-- Name: ebook_tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ebook_tags (
    ebook_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.ebook_tags OWNER TO postgres;

--
-- Name: question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question (
    id bigint NOT NULL,
    content character varying(2000) NOT NULL,
    correct_answer character varying(255),
    options text,
    order_index integer,
    partial_credit_enabled boolean,
    points integer NOT NULL,
    type character varying(255) NOT NULL,
    quiz_id bigint NOT NULL,
    CONSTRAINT question_type_check CHECK (((type)::text = ANY ((ARRAY['MCQ'::character varying, 'TRUE_FALSE'::character varying, 'OPEN'::character varying])::text[])))
);


ALTER TABLE public.question OWNER TO postgres;

--
-- Name: TABLE question; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.question IS 'Questions for quizzes - supports MCQ, TRUE_FALSE, and OPEN types';


--
-- Name: question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.question_id_seq OWNER TO postgres;

--
-- Name: question_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.question_id_seq OWNED BY public.question.id;


--
-- Name: quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz (
    id bigint NOT NULL,
    category character varying(255),
    course_id bigint,
    created_at timestamp(6) without time zone,
    description character varying(2000),
    difficulty character varying(255),
    due_date timestamp(6) without time zone,
    duration_minutes integer,
    max_score integer,
    passing_score integer,
    publish_at timestamp(6) without time zone,
    published boolean,
    show_answers_timing character varying(255),
    shuffle_options boolean,
    shuffle_questions boolean,
    tags character varying(255),
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone
);


ALTER TABLE public.quiz OWNER TO postgres;

--
-- Name: TABLE quiz; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.quiz IS 'Quizzes for course lessons with various question types';


--
-- Name: quiz_attempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_attempt (
    id bigint NOT NULL,
    score integer,
    started_at timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    student_id bigint NOT NULL,
    submitted_at timestamp(6) without time zone,
    quiz_id bigint NOT NULL,
    CONSTRAINT quiz_attempt_status_check CHECK (((status)::text = ANY ((ARRAY['IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'ABANDONED'::character varying])::text[])))
);


ALTER TABLE public.quiz_attempt OWNER TO postgres;

--
-- Name: quiz_attempt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_attempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_attempt_id_seq OWNER TO postgres;

--
-- Name: quiz_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_attempt_id_seq OWNED BY public.quiz_attempt.id;


--
-- Name: quiz_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_id_seq OWNER TO postgres;

--
-- Name: quiz_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_id_seq OWNED BY public.quiz.id;


--
-- Name: reading_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reading_progress (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    current_page integer,
    is_completed boolean,
    last_read_at timestamp(6) without time zone,
    progress_percentage double precision,
    reading_time_minutes integer,
    total_pages integer,
    updated_at timestamp(6) without time zone,
    user_id bigint NOT NULL,
    ebook_id bigint NOT NULL
);


ALTER TABLE public.reading_progress OWNER TO postgres;

--
-- Name: reading_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reading_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reading_progress_id_seq OWNER TO postgres;

--
-- Name: reading_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reading_progress_id_seq OWNED BY public.reading_progress.id;


--
-- Name: student_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_answer (
    id bigint NOT NULL,
    answer character varying(2000),
    is_correct boolean,
    partial_points double precision,
    points_earned integer,
    question_id bigint NOT NULL,
    attempt_id bigint NOT NULL
);


ALTER TABLE public.student_answer OWNER TO postgres;

--
-- Name: student_answer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_answer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_answer_id_seq OWNER TO postgres;

--
-- Name: student_answer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_answer_id_seq OWNED BY public.student_answer.id;


--
-- Name: tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tag (
    id bigint NOT NULL,
    color character varying(20),
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL
);


ALTER TABLE public.tag OWNER TO postgres;

--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tag_id_seq OWNER TO postgres;

--
-- Name: tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tag_id_seq OWNED BY public.tag.id;


--
-- Name: bookmark id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmark ALTER COLUMN id SET DEFAULT nextval('public.bookmark_id_seq'::regclass);


--
-- Name: ebook id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook ALTER COLUMN id SET DEFAULT nextval('public.ebook_id_seq'::regclass);


--
-- Name: ebook_access id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_access ALTER COLUMN id SET DEFAULT nextval('public.ebook_access_id_seq'::regclass);


--
-- Name: ebook_chapter id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapter ALTER COLUMN id SET DEFAULT nextval('public.ebook_chapter_id_seq'::regclass);


--
-- Name: ebook_collection id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_collection ALTER COLUMN id SET DEFAULT nextval('public.ebook_collection_id_seq'::regclass);


--
-- Name: ebook_metadata id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_metadata ALTER COLUMN id SET DEFAULT nextval('public.ebook_metadata_id_seq'::regclass);


--
-- Name: ebook_note id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_note ALTER COLUMN id SET DEFAULT nextval('public.ebook_note_id_seq'::regclass);


--
-- Name: ebook_review id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_review ALTER COLUMN id SET DEFAULT nextval('public.ebook_review_id_seq'::regclass);


--
-- Name: question id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question ALTER COLUMN id SET DEFAULT nextval('public.question_id_seq'::regclass);


--
-- Name: quiz id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz ALTER COLUMN id SET DEFAULT nextval('public.quiz_id_seq'::regclass);


--
-- Name: quiz_attempt id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt ALTER COLUMN id SET DEFAULT nextval('public.quiz_attempt_id_seq'::regclass);


--
-- Name: reading_progress id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress ALTER COLUMN id SET DEFAULT nextval('public.reading_progress_id_seq'::regclass);


--
-- Name: student_answer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_answer ALTER COLUMN id SET DEFAULT nextval('public.student_answer_id_seq'::regclass);


--
-- Name: tag id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag ALTER COLUMN id SET DEFAULT nextval('public.tag_id_seq'::regclass);


--
-- Data for Name: bookmark; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookmark (id, created_at, note, page_number, progress_id) FROM stdin;
\.


--
-- Data for Name: collection_ebooks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collection_ebooks (collection_id, ebook_id) FROM stdin;
\.


--
-- Data for Name: ebook; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ebook_access; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_access (id, accessed_at, progress_percent, student_id, ebook_id) FROM stdin;
\.


--
-- Data for Name: ebook_chapter; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_chapter (id, description, end_page, file_url, is_free, order_index, start_page, title, ebook_id) FROM stdin;
\.


--
-- Data for Name: ebook_collection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_collection (id, created_at, description, is_public, name, owner_id, updated_at) FROM stdin;
\.


--
-- Data for Name: ebook_keywords; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_keywords (metadata_id, keyword) FROM stdin;
\.


--
-- Data for Name: ebook_metadata; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_metadata (id, author, edition, estimated_read_time_minutes, isbn, language, publication_date, publisher, table_of_contents, total_pages, ebook_id) FROM stdin;
\.


--
-- Data for Name: ebook_note; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_note (id, color, content, created_at, highlighted_text, page_number, updated_at, progress_id) FROM stdin;
\.


--
-- Data for Name: ebook_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_review (id, comment, created_at, helpful_count, is_verified, rating, updated_at, user_id, ebook_id) FROM stdin;
1	TEST	2026-04-14 17:25:20.63744	0	f	5	2026-04-14 17:25:20.63744	1	1
\.


--
-- Data for Name: ebook_tags; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ebook_tags (ebook_id, tag_id) FROM stdin;
\.


--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_attempt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_attempt (id, score, started_at, status, student_id, submitted_at, quiz_id) FROM stdin;
\.


--
-- Data for Name: reading_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reading_progress (id, created_at, current_page, is_completed, last_read_at, progress_percentage, reading_time_minutes, total_pages, updated_at, user_id, ebook_id) FROM stdin;
\.


--
-- Data for Name: student_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_answer (id, answer, is_correct, partial_points, points_earned, question_id, attempt_id) FROM stdin;
\.


--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tag (id, color, name, slug) FROM stdin;
\.


--
-- Name: bookmark_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookmark_id_seq', 1, false);


--
-- Name: ebook_access_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_access_id_seq', 1, false);


--
-- Name: ebook_chapter_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_chapter_id_seq', 1, false);


--
-- Name: ebook_collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_collection_id_seq', 1, false);


--
-- Name: ebook_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_id_seq', 22, true);


--
-- Name: ebook_metadata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_metadata_id_seq', 1, false);


--
-- Name: ebook_note_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_note_id_seq', 1, false);


--
-- Name: ebook_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ebook_review_id_seq', 1, true);


--
-- Name: question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.question_id_seq', 64, true);


--
-- Name: quiz_attempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_attempt_id_seq', 1, false);


--
-- Name: quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_id_seq', 10, true);


--
-- Name: reading_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reading_progress_id_seq', 1, false);


--
-- Name: student_answer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_answer_id_seq', 1, false);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tag_id_seq', 1, false);


--
-- Name: bookmark bookmark_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmark
    ADD CONSTRAINT bookmark_pkey PRIMARY KEY (id);


--
-- Name: ebook_access ebook_access_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_access
    ADD CONSTRAINT ebook_access_pkey PRIMARY KEY (id);


--
-- Name: ebook_chapter ebook_chapter_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapter
    ADD CONSTRAINT ebook_chapter_pkey PRIMARY KEY (id);


--
-- Name: ebook_collection ebook_collection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_collection
    ADD CONSTRAINT ebook_collection_pkey PRIMARY KEY (id);


--
-- Name: ebook_metadata ebook_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_metadata
    ADD CONSTRAINT ebook_metadata_pkey PRIMARY KEY (id);


--
-- Name: ebook_note ebook_note_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_note
    ADD CONSTRAINT ebook_note_pkey PRIMARY KEY (id);


--
-- Name: ebook ebook_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook
    ADD CONSTRAINT ebook_pkey PRIMARY KEY (id);


--
-- Name: ebook_review ebook_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_review
    ADD CONSTRAINT ebook_review_pkey PRIMARY KEY (id);


--
-- Name: ebook_tags ebook_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_tags
    ADD CONSTRAINT ebook_tags_pkey PRIMARY KEY (ebook_id, tag_id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (id);


--
-- Name: quiz_attempt quiz_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_pkey PRIMARY KEY (id);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (id);


--
-- Name: reading_progress reading_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_pkey PRIMARY KEY (id);


--
-- Name: student_answer student_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_answer
    ADD CONSTRAINT student_answer_pkey PRIMARY KEY (id);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: tag uk_1afk1y1o95l8oxxjxsqvelm3o; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT uk_1afk1y1o95l8oxxjxsqvelm3o UNIQUE (slug);


--
-- Name: tag uk_1wdpsed5kna2y38hnbgrnhi5b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT uk_1wdpsed5kna2y38hnbgrnhi5b UNIQUE (name);


--
-- Name: ebook_metadata uk_4dcyciu1g7oqg6diavlcw24a8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_metadata
    ADD CONSTRAINT uk_4dcyciu1g7oqg6diavlcw24a8 UNIQUE (ebook_id);


--
-- Name: ebook_review fk1p0neimrhi3qf0kjqi6k0naeq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_review
    ADD CONSTRAINT fk1p0neimrhi3qf0kjqi6k0naeq FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: collection_ebooks fk4gejlyltjiyp4nuvlas7egwjb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_ebooks
    ADD CONSTRAINT fk4gejlyltjiyp4nuvlas7egwjb FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: ebook_tags fk6lh4bbyjlkg4aiaddrfn8xran; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_tags
    ADD CONSTRAINT fk6lh4bbyjlkg4aiaddrfn8xran FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: ebook_access fk7bqdv3q02w1ncaxu34q28gorm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_access
    ADD CONSTRAINT fk7bqdv3q02w1ncaxu34q28gorm FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: ebook_chapter fk8cliv2oiv607a7k2u4vsdgk16; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_chapter
    ADD CONSTRAINT fk8cliv2oiv607a7k2u4vsdgk16 FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: quiz_attempt fk8l6wmgul0rgeha0lp6abrp5fa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT fk8l6wmgul0rgeha0lp6abrp5fa FOREIGN KEY (quiz_id) REFERENCES public.quiz(id);


--
-- Name: question fkb0yh0c1qaxfwlcnwo9dms2txf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT fkb0yh0c1qaxfwlcnwo9dms2txf FOREIGN KEY (quiz_id) REFERENCES public.quiz(id);


--
-- Name: reading_progress fkf5pbrju0d2y5tfweo05rwlgiy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT fkf5pbrju0d2y5tfweo05rwlgiy FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- Name: bookmark fkfn3i853bcbei3ftnol1sp6ci0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookmark
    ADD CONSTRAINT fkfn3i853bcbei3ftnol1sp6ci0 FOREIGN KEY (progress_id) REFERENCES public.reading_progress(id);


--
-- Name: collection_ebooks fkg55r0l3uqy0bycm13llyyqj28; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_ebooks
    ADD CONSTRAINT fkg55r0l3uqy0bycm13llyyqj28 FOREIGN KEY (collection_id) REFERENCES public.ebook_collection(id);


--
-- Name: ebook_note fkgw53kw0ywwytyfl8ofjtwso5g; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_note
    ADD CONSTRAINT fkgw53kw0ywwytyfl8ofjtwso5g FOREIGN KEY (progress_id) REFERENCES public.reading_progress(id);


--
-- Name: ebook_tags fkiqki1hjen51npp16tqel0ngcc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_tags
    ADD CONSTRAINT fkiqki1hjen51npp16tqel0ngcc FOREIGN KEY (tag_id) REFERENCES public.tag(id);


--
-- Name: ebook_keywords fkkvjes4jh4jvuy285t3fqx9syl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_keywords
    ADD CONSTRAINT fkkvjes4jh4jvuy285t3fqx9syl FOREIGN KEY (metadata_id) REFERENCES public.ebook_metadata(id);


--
-- Name: student_answer fkpucellm5y3m8ae29wx6mluwa5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_answer
    ADD CONSTRAINT fkpucellm5y3m8ae29wx6mluwa5 FOREIGN KEY (attempt_id) REFERENCES public.quiz_attempt(id);


--
-- Name: ebook_metadata fkrcrv2uj4an5etinoupym4hjxa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ebook_metadata
    ADD CONSTRAINT fkrcrv2uj4an5etinoupym4hjxa FOREIGN KEY (ebook_id) REFERENCES public.ebook(id);


--
-- PostgreSQL database dump complete
--

\unrestrict tz0eSd6vCzS13xQ0KejWPFaHbXKDToL7jlLFFMYeE9gYJn2RgnqdU03WUoSCeZb

