--
-- PostgreSQL database dump
--

\restrict d53Ijw1tdZIoJ69qYQd1SsISUhbD2JR4QcHpUGo3Ffy0BEdbA7urr6CVehLBpxF

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conversation_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversation_participants (
    id bigint NOT NULL,
    is_active boolean NOT NULL,
    joined_at timestamp(6) without time zone NOT NULL,
    last_read_at timestamp(6) without time zone,
    participant_role character varying(20) NOT NULL,
    user_avatar character varying(500),
    user_email character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    user_name character varying(255) NOT NULL,
    user_role character varying(50) NOT NULL,
    conversation_id bigint NOT NULL,
    CONSTRAINT conversation_participants_participant_role_check CHECK (((participant_role)::text = ANY ((ARRAY['ADMIN'::character varying, 'MEMBER'::character varying])::text[])))
);


ALTER TABLE public.conversation_participants OWNER TO postgres;

--
-- Name: conversation_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conversation_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversation_participants_id_seq OWNER TO postgres;

--
-- Name: conversation_participants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conversation_participants_id_seq OWNED BY public.conversation_participants.id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.conversations (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    created_by bigint,
    description character varying(500),
    group_photo character varying(500),
    last_message_at timestamp(6) without time zone,
    title character varying(255),
    type character varying(20) NOT NULL,
    updated_at timestamp(6) without time zone,
    CONSTRAINT conversations_type_check CHECK (((type)::text = ANY ((ARRAY['DIRECT'::character varying, 'GROUP'::character varying])::text[])))
);


ALTER TABLE public.conversations OWNER TO postgres;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.conversations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_id_seq OWNER TO postgres;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_reactions (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    emoji character varying(10) NOT NULL,
    user_id bigint NOT NULL,
    user_name character varying(255) NOT NULL,
    message_id bigint NOT NULL
);


ALTER TABLE public.message_reactions OWNER TO postgres;

--
-- Name: message_reactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.message_reactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.message_reactions_id_seq OWNER TO postgres;

--
-- Name: message_reactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.message_reactions_id_seq OWNED BY public.message_reactions.id;


--
-- Name: message_read_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_read_status (
    id bigint NOT NULL,
    read_at timestamp(6) without time zone NOT NULL,
    user_id bigint NOT NULL,
    message_id bigint NOT NULL
);


ALTER TABLE public.message_read_status OWNER TO postgres;

--
-- Name: message_read_status_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.message_read_status_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.message_read_status_id_seq OWNER TO postgres;

--
-- Name: message_read_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.message_read_status_id_seq OWNED BY public.message_read_status.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    emoji_code character varying(50),
    file_name character varying(255),
    file_size bigint,
    file_url character varying(500),
    is_edited boolean NOT NULL,
    message_type character varying(20) NOT NULL,
    sender_avatar character varying(500),
    sender_id bigint NOT NULL,
    sender_name character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone,
    voice_duration integer,
    conversation_id bigint NOT NULL,
    CONSTRAINT messages_message_type_check CHECK (((message_type)::text = ANY ((ARRAY['TEXT'::character varying, 'FILE'::character varying, 'IMAGE'::character varying, 'EMOJI'::character varying, 'VOICE'::character varying])::text[])))
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: conversation_participants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants ALTER COLUMN id SET DEFAULT nextval('public.conversation_participants_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: message_reactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions ALTER COLUMN id SET DEFAULT nextval('public.message_reactions_id_seq'::regclass);


--
-- Name: message_read_status id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_read_status ALTER COLUMN id SET DEFAULT nextval('public.message_read_status_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Data for Name: conversation_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.conversations (id, created_at, created_by, description, group_photo, last_message_at, title, type, updated_at) FROM stdin;
1	2026-04-15 16:36:07.336658	13	azdazdazd	\N	2026-05-01 12:05:40.153976	Pack: Exam Preparation A1 - Teacher  Khalil	GROUP	2026-05-01 12:05:40.153975
2	2026-05-01 12:05:07.849641	1	\N	\N	2026-05-01 12:12:47.228154	\N	DIRECT	2026-05-01 12:12:47.230153
\.


--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_reactions (id, created_at, emoji, user_id, user_name, message_id) FROM stdin;
\.


--
-- Data for Name: message_read_status; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_read_status (id, read_at, user_id, message_id) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: conversation_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversation_participants_id_seq', 4, true);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.conversations_id_seq', 2, true);


--
-- Name: message_reactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_reactions_id_seq', 1, false);


--
-- Name: message_read_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_read_status_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 4, true);


--
-- Name: conversation_participants conversation_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT conversation_participants_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (id);


--
-- Name: message_read_status message_read_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_read_status
    ADD CONSTRAINT message_read_status_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: message_read_status uk61kitrtvwau0ebh5troe3tjco; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_read_status
    ADD CONSTRAINT uk61kitrtvwau0ebh5troe3tjco UNIQUE (message_id, user_id);


--
-- Name: message_reactions uk97x64hflnew8pcu67n1bky803; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT uk97x64hflnew8pcu67n1bky803 UNIQUE (message_id, user_id, emoji);


--
-- Name: conversation_participants uk9sr5qudr0ccvvi0q4idhmpgt5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT uk9sr5qudr0ccvvi0q4idhmpgt5 UNIQUE (conversation_id, user_id);


--
-- Name: idx_conversation_last_message; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conversation_last_message ON public.conversations USING btree (last_message_at);


--
-- Name: idx_conversation_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_conversation_type ON public.conversations USING btree (type);


--
-- Name: idx_message_conversation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_conversation ON public.messages USING btree (conversation_id);


--
-- Name: idx_message_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_created ON public.messages USING btree (created_at);


--
-- Name: idx_message_sender; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_message_sender ON public.messages USING btree (sender_id);


--
-- Name: idx_participant_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_participant_active ON public.conversation_participants USING btree (is_active);


--
-- Name: idx_participant_conversation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_participant_conversation ON public.conversation_participants USING btree (conversation_id);


--
-- Name: idx_participant_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_participant_user ON public.conversation_participants USING btree (user_id);


--
-- Name: idx_reaction_message; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reaction_message ON public.message_reactions USING btree (message_id);


--
-- Name: idx_reaction_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reaction_user ON public.message_reactions USING btree (user_id);


--
-- Name: idx_read_status_message; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_read_status_message ON public.message_read_status USING btree (message_id);


--
-- Name: idx_read_status_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_read_status_user ON public.message_read_status USING btree (user_id);


--
-- Name: message_reactions fk1o714y33gam6b6741ci4ho041; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT fk1o714y33gam6b6741ci4ho041 FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: message_read_status fk6v2gsesvjkhu2n73ye3qig78; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_read_status
    ADD CONSTRAINT fk6v2gsesvjkhu2n73ye3qig78 FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: conversation_participants fk84npv3fo2vwl7ut63im0p417q; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.conversation_participants
    ADD CONSTRAINT fk84npv3fo2vwl7ut63im0p417q FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- Name: messages fkt492th6wsovh1nush5yl5jj8e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT fkt492th6wsovh1nush5yl5jj8e FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict d53Ijw1tdZIoJ69qYQd1SsISUhbD2JR4QcHpUGo3Ffy0BEdbA7urr6CVehLBpxF

