--
-- PostgreSQL database dump
--

\restrict BAbr1azQ1qn5huSUwwkfiI1x1rUW5mIpAS4FIwFx7YUnFkNkYuRRHU0KPMWBpr8

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: sponsors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sponsors (
    id bigint NOT NULL,
    applicant_first_name character varying(255),
    applicant_last_name character varying(255),
    club_id integer,
    club_name character varying(255),
    contact_email character varying(255),
    contact_phone character varying(255),
    contribution_amount double precision,
    created_at timestamp(6) without time zone NOT NULL,
    description character varying(1000),
    level character varying(255),
    logo text,
    name character varying(255) NOT NULL,
    status character varying(255),
    updated_at timestamp(6) without time zone,
    user_id bigint,
    website character varying(255),
    CONSTRAINT sponsors_level_check CHECK (((level)::text = ANY ((ARRAY['GOLD'::character varying, 'SILVER'::character varying, 'BRONZE'::character varying])::text[]))),
    CONSTRAINT sponsors_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.sponsors OWNER TO postgres;

--
-- Name: sponsors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sponsors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sponsors_id_seq OWNER TO postgres;

--
-- Name: sponsors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sponsors_id_seq OWNED BY public.sponsors.id;


--
-- Name: sponsors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsors ALTER COLUMN id SET DEFAULT nextval('public.sponsors_id_seq'::regclass);


--
-- Data for Name: sponsors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: sponsors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sponsors_id_seq', 13, true);


--
-- Name: sponsors sponsors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sponsors
    ADD CONSTRAINT sponsors_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict BAbr1azQ1qn5huSUwwkfiI1x1rUW5mIpAS4FIwFx7YUnFkNkYuRRHU0KPMWBpr8

