$bgClr: rgba(#0b0f27, .83);
$txtClr: #fff;
$animSpd: 750ms;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.cont {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  border-radius: 0;
  box-shadow: none;
}

.slider {
  position: relative;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  cursor: all-scroll;
  user-select: none;

  &.animation {
    transition: transform $animSpd ease-in-out;

    .slide__darkbg {
      transition: transform $animSpd ease-in-out;
    }

    .slide__text {
      transition: transform $animSpd ease-in-out;
    }

    .slide__letter {
      transition: transform $animSpd ease-in-out;
    }
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @for $i from 1 through 10 {
    &--#{$i} {
      left: 100% * ($i - 1);
    }
  }

  &__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
    background-size: cover !important;
    background-position: center center !important;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $bgClr;
    }
  }

  &__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
  }

  &__letter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    font-size: 50vw;
    font-weight: 800;
    color: #000;
    z-index: 2;
    will-change: transform;
    user-select: none;
    background-size: cover !important;
    background-position: center center !important;

    @media screen and (max-width: 768px) {
      font-size: 60vw;
    }
  }

  &__text {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    color: $txtClr;
    will-change: transform;
    user-select: none;

    @media screen and (max-width: 768px) {
      font-size: 10vw;
      letter-spacing: 6px;
    }

    &:nth-child(odd) {
      z-index: 2;
    }

    &:nth-child(even) {
      z-index: 1;
    }
  }
}

.nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 20;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;

  &__slide {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 300ms;

    @media screen and (max-width: 400px) {
      width: 22px;
      height: 22px;
    }

    &:hover:after {
      transform: translate(-50%, -50%) scale(1, 1);
      opacity: 1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0, 0);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: 300ms;
    }
  }
}

.nav-active {
  &:after {
    transform: translate(-50%, -50%) scale(1, 1) !important;
    opacity: 1 !important;
  }
}

.side-nav {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  opacity: 0;
  transition: 300ms;

  &:hover {
    opacity: 0.1;
  }

  &--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(238, 215, 255) 100%);
  }

  &--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(238, 215, 255) 100%);
  }
}
