# Server Configuration
SERVER_PORT=8095

# Database Configuration
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Paymee Configuration
PAYMEE_API_KEY=4e9385e30b65c688d6d28de68156c4870e350887
PAYMEE_BASE_URL=https://sandbox.paymee.tn

# Application URLs
FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:8095
COURSES_SERVICE_URL=http://localhost:8086

# Eureka Configuration
EUREKA_SERVER_URL=http://localhost:8761/eureka/
