# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/sponsors_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Server Configuration
PORT=8089

# Eureka Server
EUREKA_SERVER_URL=http://localhost:8761/eureka/
