// Home component styles

// Preloader animation
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
  
  &.loaded {
    opacity: 0;
    pointer-events: none;
  }
}
