server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}
  cloud:
    config:
      enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
            
        - id: learning-service
          uri: lb://learning-service
          predicates:
            - Path=/api/learning/**
          filters:
            - StripPrefix=1
            
        - id: club-service
          uri: lb://club-service
          predicates:
            - Path=/api/clubs/**
          filters:
            - StripPrefix=1
            
        - id: club-members-service
          uri: lb://club-service
          predicates:
            - Path=/api/members/**
          filters:
            - StripPrefix=1
            
        - id: club-tasks-service
          uri: lb://club-service
          predicates:
            - Path=/api/tasks/**
          filters:
            - StripPrefix=1
            
        - id: user-service
          uri: lb://auth-service
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=1
            
        - id: admin-users-service
          uri: lb://auth-service
          predicates:
            - Path=/api/admin/users/**
          filters:
            - StripPrefix=1
            
        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/api/courses/**
          filters:
            - StripPrefix=1
            
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1
            
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "${FRONTEND_URL:http://localhost:4200}"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
